<div
  ...attributes
  local-class="empty-content {{if @success "empty-content--success"}} {{if @center "empty-content--center"}}"
  data-test-empty-content
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#if @iconPath}}
      {{inline-svg @iconPath local-class="icon"}}
    {{/if}}
    {{@text}}
  {{/if}}
</div>
