<div local-class="empty-content {{if @success "success"}}" data-test-empty-content>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{inline-svg @iconPath local-class="icon"}}{{@text}}
  {{/if}}
</div>
