<div local-class="translation-conversation">
  <div local-class="comments">
    {{#if (get @permissions "create_comment")}}
      {{#unless @translation.isRemoved}}
        <div {{did-insert this.focusTextarea}}>
          <TranslationCommentForm @onSubmit={{@onSubmit}} />
        </div>
      {{/unless}}
    {{/if}}

    <div local-class="list">
      <TranslationCommentsList
        @comments={{@comments.entries}}
        local-class="at-translation"
      />

      <ResourcePagination @meta={{@comments.meta}} @onSelectPage={{@onSelectPage}} />
    </div>
  </div>

  <div local-class="subscriptions">
    <TranslationCommentsSubscriptions
      @collaborators={{@collaborators}}
      @subscriptions={{@subscriptions}}
      @onCreateSubscription={{@onCreateSubscription}}
      @onDeleteSubscription={{@onDeleteSubscription}}
    />
  </div>
</div>
