<div class="comments">
  {{#if (get permissions "create_comment")}}
    {{#unless translation.isRemoved}}
      <TranslationCommentForm @onSubmit={{onSubmit}} />
    {{/unless}}
  {{/if}}

  <TranslationCommentsList
    @comments={{comments.entries}}
    class="at-translation"
  />

  <ResourcePagination @meta={{comments.meta}} @onSelectPage={{onSelectPage}} />
</div>

<div class="subscriptions">
  <TranslationCommentsSubscriptions
    @collaborators={{collaborators}}
    @subscriptions={{subscriptions}}
    @onCreateSubscription={{onCreateSubscription}}
    @onDeleteSubscription={{onDeleteSubscription}}
  />
</div>
