{{#if @lintTranslation.messages}}
  <div local-class='wrapper'>
    <ul local-class='messages'>
      {{#each this.messages as |message|}}
        <span local-class='description'>
          {{#if message.message}}
            {{message.message}}
          {{else}}
            {{t (concat 'components.translation_edit.lint_message.checks.' message.check)}}
          {{/if}}
        </span>
      {{/each}}
    </ul>

    {{#if @project}}
      <div local-class='details'>
        <LinkTo @route='logged-in.project.translation' @models={{array @project.id @lintTranslation.translation.id}} local-class='item-link'>
          <strong local-class='item-key'>
            {{this.translationKey.value}}
            <small local-class='item-key-prefix'>
              {{#if this.translationKey.prefix}}
                {{this.translationKey.prefix}}
              {{else}}
                {{@lintTranslation.translation.document.path}}
              {{/if}}
            </small>
          </strong>
        </LinkTo>
      </div>
    {{/if}}

    <div local-class='item-text'>{{{this.annotatedText}}}</div>
  </div>
{{/if}}