<div class="filters">
  <div class="filters-wrapper">
    <ul local-class="filterList">
      {{#unless @actionFilter}}
        <li local-class="filterList-item">
          <label local-class="label">
            <input
              type="checkbox"
              checked={{@batchFilter}}
              {{on "change" (fn this.batchFilterChange)}}
            >
            <span local-class="label-text">
              {{t
                "components.project_activities_filter.only_important_activities_text"
              }}
            </span>
          </label>
        </li>
      {{/unless}}

      <li local-class="filterList-item">
        <AccSelect
          @searchEnabled={{false}}
          @selected={{this.actionFilterValue}}
          @options={{this.mappedActions}}
          @onchange={{fn this.actionFilterChange}}
        />
      </li>

      <li local-class="filterList-item">
        <AccSelect
          @searchEnabled={{false}}
          @selected={{this.userFilterValue}}
          @options={{this.mappedUsers}}
          @onchange={{fn this.userFilterChange}}
        />
      </li>
    </ul>
  </div>
</div>
