<style>
  body {
  {{{this.colors}}}
  }
</style>

<div>
  <JiptHeader @project={{this.model.project}} />

  <RevisionSelector
    @revisions={{this.revisions}}
    @revision={{this.revision.id}}
    @withRevisionsCount={{false}}
    @onSelect={{fn this.selectRevision}}
  />

  {{outlet}}
</div>
