<style>
  body {
  {{{this.colors}}}
  }
</style>
<div>
  <JiptHeader @project={{model.project}} />
  <RevisionSelector
    @revisions={{revisions}}
    @revision={{revision.id}}
    @withRevisionsCount={{false}}
    @onSelect={{action "selectRevision"}}
  />
  {{outlet}}
</div>