<div>
  <h2 class="item-title">{{document.path}}</h2>
  <h3 class="item-subtitle">.{{documentFormatItem.extension}}</h3>
</div>

<div class="links">
  {{#if (get permissions 'sync')}}
    {{#link-to
      'logged-in.project.files.sync'
      project.id
      document.id
      class='button button--filled'
    }}
      {{inline-svg '/assets/sync.svg' class='button-icon'}}
      {{t 'components.documents_list.sync'}}
    {{/link-to}}
  {{/if}}

  {{#if (get permissions 'merge')}}
    {{#link-to
      'logged-in.project.files.add-translations'
      project.id
      document.id
      class='button button--borderLess button--filled button--white'
    }}
      {{inline-svg '/assets/merge.svg' class='button-icon'}}
      {{t 'components.documents_list.merge'}}
    {{/link-to}}
  {{/if}}

  {{#link-to
    'logged-in.project.files.export'
    project.id
    document.id
    class='button button--borderLess button--filled button--white'
  }}
    {{inline-svg '/assets/export.svg' class='button-icon'}}
    {{t 'components.documents_list.export'}}
  {{/link-to}}

  {{#if (get permissions 'delete_document')}}
    {{#if canDeleteFile}}
      {{#async-button
        onClick=(action 'deleteFile' document)
        loading=isDeleting
        class='button button--red deleteButton'
      }}
        {{inline-svg '/assets/x.svg' class='button-icon'}}
        {{t 'components.documents_list.delete_document'}}
      {{/async-button}}
    {{/if}}
  {{/if}}
</div>
