<form class="item-form" {{action "updateDocument" on="submit"}}>
  <div>
    <h2 class="item-title">
      {{#if isEditing}}
        <QuickSubmitTextfield
          @onSubmit={{action "updateDocument"}}
          @value={{renamedDocumentPath}}
          class="textInput"
        />
      {{else}}
        <span class="item-toggle-edit" {{action "toggleEdit"}}>
          {{inline-svg "assets/pencil.svg" class="item-edit-icon"}}
          {{document.path}}
        </span>
      {{/if}}
    </h2>
    <h3 class="item-subtitle">
      .
      {{documentFormatItem.extension}}
    </h3>
  </div>

  {{#unless isEditing}}
    <div class="stat">
      <span class="reviewedPercentage">
        {{correctedKeysPercentage}}
        %
      </span>
      <span class="reviewedStats">
        <span class="reviewedStats-reviewedCount">
          {{reviewsCount}}
        </span>
        /
        <span class="reviewedStats-translationsCount">
          {{document.translationsCount}}
        </span>
      </span>
    </div>

    <div class="stat-progress">
      <ReviewProgressBar @correctedKeysPercentage={{correctedKeysPercentage}} />
    </div>
  {{/unless}}

  <div class="links">
    {{#if isEditing}}
      <div></div>
      <div>
        <button
          class="button button--filled button--white"
          {{action "toggleEdit"}}
        >
          {{t "components.documents_list.cancel_button"}}
        </button>
        <AsyncButton
          class="button button--filled"
          @loading={{isUpdating}}
          @onClick={{action "updateDocument"}}
        >
          {{t "components.documents_list.save_button"}}
        </AsyncButton>
      </div>
    {{else}}
      <div>
        {{#if (get permissions "sync")}}
          <LinkTo
            @route="logged-in.project.files.sync"
            @models={{array project.id document.id}}
            class="button button--small button--filled button--black"
          >
            {{inline-svg "/assets/sync.svg" class="button-icon"}}
            {{t "components.documents_list.sync"}}
          </LinkTo>
        {{/if}}
        {{#if (get permissions "merge")}}
          <LinkTo
            @route="logged-in.project.files.add-translations"
            @models={{array project.id document.id}}
            class="button button--small button--filled button--white"
          >
            {{inline-svg "/assets/merge.svg" class="button-icon"}}
            {{t "components.documents_list.merge"}}
          </LinkTo>
        {{/if}}
        <LinkTo
          @route="logged-in.project.files.export"
          @models={{array project.id document.id}}
          class="button button--small button--filled button--white"
        >
          {{inline-svg "/assets/export.svg" class="button-icon"}}
          {{t "components.documents_list.export"}}
        </LinkTo>
      </div>

      <div>
        {{#if (get permissions "delete_document")}}
          {{#if canDeleteFile}}
            <AsyncButton
              @onClick={{action "deleteFile" document}}
              @loading={{isDeleting}}
              class="button button--small button--red button--borderless deleteDocumentButton"
            >
              {{inline-svg "/assets/x.svg" class="button-icon"}}
              {{t "components.documents_list.delete_document"}}
            </AsyncButton>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</form>
