<div local-class="project-settings-collaborators">
  <div local-class="columns">
    <div local-class="columns-item">
      <div local-class="createForm">
        <ProjectSettings::Collaborators::CreateForm
          @project={{@project}}
          @onCreate={{@onCreateCollaborator}}
        />
      </div>

      <ProjectSettings::Collaborators::List
        @permissions={{@permissions}}
        @collaborators={{@collaborators}}
        @onDelete={{@onDeleteCollaborator}}
        @onUpdate={{@onUpdateCollaborator}}
      />
    </div>

    <div local-class="columns-item rolesList">
      <span local-class="rolesList-title">
        {{t "general.roles.OWNER"}}
      </span>
      <p local-class="rolesList-text">
        {{t "components.project_settings.collaborators.owner_text"}}
      </p>

      <span local-class="rolesList-title">
        {{t "general.roles.ADMIN"}}
      </span>
      <p local-class="rolesList-text">
        {{t "components.project_settings.collaborators.admin_text"}}
      </p>

      <span local-class="rolesList-title">
        {{t "general.roles.DEVELOPER"}}
      </span>
      <p local-class="rolesList-text">
        {{t "components.project_settings.collaborators.developer_text"}}
      </p>

      <span local-class="rolesList-title">
        {{t "general.roles.REVIEWER"}}
      </span>
      <p local-class="rolesList-text">
        {{t "components.project_settings.collaborators.reviewer_text"}}
      </p>
    </div>
  </div>
</div>
