<PageTitle>
  {{inline-svg '/assets/bubble.svg'}}
  <h1>{{t 'components.page_title.comments'}}</h1>
</PageTitle>

{{#if this.model.loading}}
  <SkeletonUi::ProgressLine />
{{/if}}

{{#if this.showSkeleton}}
  <SkeletonUi::ProjectCommentsList />
{{else}}
  <ProjectCommentsList
    @project={{this.model.project}}
    @comments={{this.model.comments.entries}}
    @onUpdateComment={{fn this.updateComment}}
    @onDeleteComment={{fn this.deleteComment}}
  />
  <ResourcePagination @meta={{this.model.comments.meta}} @onSelectPage={{fn this.selectPage}} />
{{/if}}