<PageTitle>
  {{inline-svg '/assets/share.svg'}}
  <h1>{{t 'components.page_title.service_integrations'}}</h1>
  <PageTitle::End>
    {{#if (get this.permissions 'createProjectIntegration')}}
      {{#unless this.showCreateForm}}
        <IntegrationsAddButton @onClick={{fn this.toggleCreateForm}} />
      {{/unless}}
    {{/if}}
  </PageTitle::End>
</PageTitle>

{{#if this.showLoading}}
  <LoadingContent @label={{t 'pods.project.edit.service_integrations.loading_content'}} />
{{else}}
  <ProjectSettings::Integrations
    @project={{this.project}}
    @permissions={{this.permissions}}
    @showCreateForm={{this.showCreateForm}}
    @onToggleCreateForm={{fn this.toggleCreateForm}}
    @onCreateIntegration={{fn this.createIntegration}}
    @onUpdateIntegration={{fn this.updateIntegration}}
    @onDeleteIntegration={{fn this.deleteIntegration}}
  />
{{/if}}
