<PageTitle>
  {{inline-svg '/assets/tag.svg'}}
  <h1>{{t 'components.page_title.versions'}}</h1>
</PageTitle>

{{#if this.model.loading}}
  <SkeletonUi::ProgressLine />
{{/if}}

{{#if this.showSkeleton}}
  <SkeletonUi::VersionsList />
{{else}}
  <VersionsList @permissions={{this.permissions}} @versions={{this.model.versions.entries}} @project={{this.model.project}} @onDelete={{fn this.deleteVersion}} />

  {{#if (get this.permissions 'create_version')}}
    <VersionsAddButton @project={{this.model.project}} />
  {{/if}}

  <ResourcePagination @meta={{this.model.versions.meta}} @onSelectPage={{fn this.selectPage}} />
  {{outlet}}
{{/if}}