{{#if conflicts}}
  <div class="actions">
    {{#unless query}}
      {{#async-button
        onClick=(action 'correctAllConflicts')
        loading=isCorrectAllConflictLoading
        disabled=isCorrectAllConflictLoading
        class='button button--green'
      }}
        {{inline-svg '/assets/check.svg' class='button-icon'}}
        {{t 'components.conflicts_items.correct_all_button'}}
      {{/async-button}}
    {{/unless}}

    {{#link-to
      'logged-in.project.revision.conflicts'
      project.id
      revision.id
      (query-params fullscreen=toggledFullscreen)
      class='button button--grey fullscreen-button'
    }}
      {{#if fullscreen}}
        {{inline-svg '/assets/fullscreen-minimize.svg' class='button-icon fullscreen-icon'}}
      {{else}}
        {{inline-svg '/assets/fullscreen.svg' class='button-icon fullscreen-icon'}}
      {{/if}}
      {{t 'components.conflicts_items.fullscreen'}}
    {{/link-to}}
  </div>
{{/if}}

{{#each conflicts key='id' as |conflict|}}
  {{conflict-item
    fullscreen=fullscreen
    revision=referenceRevision
    permissions=permissions
    project=project
    conflict=conflict
    onCorrect=onCorrect
  }}
{{else if query}}
  {{empty-content
    iconPath='assets/empty.svg'
    text=(t 'components.conflicts_items.no_translations'
    query=query)
  }}
{{else}}
  {{empty-content
    class='success' iconPath='assets/thumbs-up.svg'
    text=(t 'components.conflicts_items.review_completed')
  }}
{{/each}}
