<div local-class="translation-splash-file">
  {{#if this.withRevisionLink}}
    <LinkTo
      @route="logged-in.project.revision.translations"
      @models={{array @project.id @translation.revision.id}}
      local-class="language"
    >
      {{inline-svg "assets/chevron-left.svg" local-class="back-icon"}}
      {{this.revisionName}}
    </LinkTo>
  {{/if}}

  <h1 local-class="key">
    <small local-class="key-prefix">
      {{#if this.translationKey.prefix}}
        {{this.translationKey.prefix}}
      {{else}}
        {{@translation.document.path}}
      {{/if}}
    </small>
    {{this.translationKey.value}}
  </h1>

  {{#if translation.version}}
    <AccBadge>
      <span local-class="version-tag">
        {{@translation.version.tag}}
      </span>
    </AccBadge>
  {{/if}}

  {{#if @translation.plural}}
    <AccBadge @link={{true}}>
      <LinkTo
        @route="logged-in.project.revision.translations"
        @models={{array @project.id @translation.revision.id}}
      >
        {{t "components.translation_splash_title.plural_label"}}
      </LinkTo>
    </AccBadge>
  {{/if}}

  {{#if @translation.isRemoved}}
    <div local-class="removedBadge">
      {{t
        "components.translation_splash_title.removed_label"
        removedAt=(time-ago-in-words @translation.updatedAt)
      }}
    </div>
  {{else if @translation.isConflicted}}
    <AccBadge @link={{this.withRevisionLink}} @primary={{true}}>
      {{#if this.withRevisionLink}}
        <LinkTo
          @route="logged-in.project.revision.conflicts"
          @models={{array @project.id @translation.revision.id}}
          @query={{hash query=@translation.id}}
        >
          {{t "components.translation_splash_title.conflicted_label"}}
        </LinkTo>
      {{else}}
        {{t "components.translation_splash_title.conflicted_label"}}
      {{/if}}
    </AccBadge>
  {{/if}}
</div>
