<div local-class="project-settings-badges">
  <ProjectSettings::Title
    @title={{t "components.project_settings.badges.title"}}
  />

  <p local-class="text">
    {{t "components.project_settings.badges.text"}}
  </p>

  <div local-class="badge">
    <span local-class="badge-title">
      {{t "components.project_settings.badges.percentage_reviewed"}}
    </span>

    <img src={{this.percentageReviewedBadgeUrlWithDigest}}>
  </div>

  <input
    readonly=""
    onClick="this.select();"
    local-class="badge-code"
    value={{this.percentageReviewedBadgeCode}}
  >
</div>
