<div local-class="translation-comment-form">
  <form
    {{on "submit" (perform this.submitTask)}}
    local-class="form"
  >
    {{#if this.error}}
      <span local-class="error">
        {{t "components.translation_comment_form.submit_error"}}
      </span>
    {{/if}}

    <div local-class="form-content">
      <QuickSubmitTextarea
        @onSubmit={{perform this.submitTask}}
        @rows={{3}}
        @value={{this.text}}
        @onKeyUp={{fn this.setText}}
        @placeholder={{t "components.translation_comment_form.comment_placeholder"}}
        local-class="inputText"
        disabled={{this.submitTask.isRunning}}
      />
      <AsyncButton @loading={{this.submitTask.isRunning}} class="button button--filled">
        {{t "components.translation_comment_form.comment_button"}}
      </AsyncButton>
    </div>
  </form>
</div>
