<div local-class="translation-comment-form">
  <form local-class="form" {{on "submit" (fn this.submit)}}>
    {{#if this.error}}
      <span local-class="error">
        {{t "components.translation_comment_form.submit_error"}}
      </span>
    {{/if}}

    <div local-class="form-content">
      <QuickSubmitTextarea
        @onSubmit={{fn this.submit}}
        @rows={{3}}
        @value={{this.text}}
        @onKeyUp={{fn this.setText}}
        @placeholder={{t "components.translation_comment_form.comment_placeholder"}}
        local-class="inputText"
      />
      <AsyncButton @loading={{this.loading}} class="button button--filled">
        {{t "components.translation_comment_form.comment_button"}}
      </AsyncButton>
    </div>
  </form>
</div>
