<li local-class="translation-comments-subscriptions-item {{if this.isCurrentUser "currentUser"}}">
  <input
    type="checkbox"
    local-class="checkbox"
    checked={{this.isSubscribed}}
    {{on "change" (fn this.toggleSubscription)}}
  >

  <span local-class="user">
    {{@collaborator.user.fullname}}

    <span local-class="user-email">
      {{@collaborator.email}}
    </span>
  </span>
</li>
