<div local-class='project-navigation'>
  <div>
    <LinkTo @route='logged-in.project.index' @model={{@project.id}} local-class='project'>
      <span local-class='project-logo'>
        <ProjectLogo @logo={{@project.logo}} />
      </span>

      <span local-class='project-name'>
        {{@project.name}}
      </span>
    </LinkTo>
    <div local-class='search'>
      {{inline-svg '/assets/search.svg' local-class='search-icon'}}
      <input {{on 'keyup' this.setDebouncedQuery}} local-class='search-input' type='text' placeholder={{t 'general.search_input_placeholder_text'}} value={{this.debouncedQuery}} />
    </div>
    <ProjectNavigation::List @selectedRevision={{this.selectedRevision}} @permissions={{@permissions}} @project={{@project}} />
  </div>

  <div local-class='footer'>
    <LinkTo @route='logged-in.projects' local-class='back-to-projects'>

      {{inline-svg '/assets/chevron-left.svg' local-class='back-to-projects-icon'}}
      <span local-class='back-to-projects-text'>{{t 'components.project_navigation.back_to_projects'}}</span>
    </LinkTo>

    {{#if this.session.credentials.user}}
      <div local-class='session'>
        <AccAvatarImg local-class='session-picture' @showFallback={{not this.session.credentials.user.pictureUrl}} src={{this.session.credentials.user.pictureUrl}} />

        <span local-class='session-username'>
          {{this.session.credentials.user.fullname}}
        </span>
      </div>
    {{/if}}

    <ApplicationFooter />
  </div>
</div>