<AccModal @onClose={{fn this.closeModal}}>
  <ProjectFileOperation>
    <button class="closeButton" {{on "click" (fn this.closeModal)}}>
      <div class="closeButton-content">
        {{inline-svg "/assets/x.svg" class="closeButton-icon"}}
      </div>
    </button>

    <div class="title">
      <div class="sectionType">
        {{inline-svg "/assets/export.svg" class="sectionType-icon"}}
        {{t "components.project_file_operations.export"}}
      </div>

      <div class="title-document">
        {{this.document.path}}
        <span class="title-documentExtension">
          .
          {{this.documentFormatItem.extension}}
        </span>
      </div>
    </div>
    <RevisionExportOptions
      @format={{this.documentFormatFilter}}
      @orderBy={{this.orderByFilter}}
      @revision={{this.revisionFilter}}
      @revisions={{this.revisions}}
      @onChangeRevision={{fn (mut this.revisionFilter)}}
      @onChangeFormat={{fn (mut this.documentFormatFilter)}}
      @onChangeOrderBy={{fn (mut this.orderByFilter)}}
    />
    <LinkTo
      @route="logged-in.project.files.jipt"
      @models={{array this.project.id this.document.id}}
      class="button button--filled button--white button--small toggleJiptExport"
    >
      {{inline-svg "/assets/edit-in-place.svg" class="button-icon"}}
      {{t "components.project_file_operations.export_jipt"}}
    </LinkTo>

    <AsyncButton
      @onClick={{fn this.exportFile}}
      @disabled={{this.exportButtonDisabled}}
      class="button button--filled renderExport"
    >
      {{t "components.project_file_operations.export"}}
    </AsyncButton>

    {{#if this.exportLoading}}
      <SkeletonUi::ProgressLine />
    {{/if}}

    <FileExport
      class="render"
      @onFileLoaded={{fn this.onFileLoaded}}
      @project={{this.project}}
      @revisions={{this.revisions}}
      @revision={{this.revision}}
      @document={{this.document}}
      @documentFormat={{this.documentFormatFilter}}
      @orderBy={{this.orderByFilter}}
    />
  </ProjectFileOperation>
</AccModal>
