<div class="subNavigation subNavigation--alt">
  <ul class="subNavigation-list">
    <li class="subNavigation-list-item">
      <LinkTo
        @route="logged-in.project.translation.index"
        @models={{array @project.id @translation.id}}
        class="subNavigation-list-item-link"
      >
        {{inline-svg
          "assets/pencil.svg"
          class="subNavigation-list-item-link-icon"
        }}
        <span class="subNavigation-list-item-link-text">
          {{t "components.translation_navigation.edit_link_title"}}
        </span>
      </LinkTo>
    </li>

    {{#if (get @permissions "index_related_translations")}}
      <li class="subNavigation-list-item">
        <LinkTo
          @route="logged-in.project.translation.related-translations"
          @models={{array @project.id @translation.id}}
          class="subNavigation-list-item-link"
        >
          {{inline-svg
            "assets/language.svg"
            class="subNavigation-list-item-link-icon"
          }}
          <span class="subNavigation-list-item-link-text">
            {{t
              "components.translation_navigation.related_translations_link_title"
            }}
          </span>
        </LinkTo>
      </li>
    {{/if}}

    {{#if (get @permissions "index_comments")}}
      <li class="subNavigation-list-item">
        <LinkTo
          @route="logged-in.project.translation.comments"
          @models={{array @project.id @translation.id}}
          class="subNavigation-list-item-link"
        >
          {{inline-svg
            "assets/bubble.svg"
            class="subNavigation-list-item-link-icon"
          }}
          <span class="subNavigation-list-item-link-text">
            {{t
              "components.translation_navigation.comments_link_title"
              count=@translation.commentsCount
            }}
          </span>
        </LinkTo>
      </li>
    {{/if}}

    {{#if (get @permissions "index_translation_activities")}}
      <li class="subNavigation-list-item">
        <LinkTo
          @route="logged-in.project.translation.activities"
          @models={{array @project.id @translation.id}}
          class="subNavigation-list-item-link"
        >
          {{inline-svg
            "assets/activity.svg"
            class="subNavigation-list-item-link-icon"
          }}
          <span class="subNavigation-list-item-link-text">
            {{t "components.translation_navigation.activities_link_title"}}
          </span>
        </LinkTo>
      </li>
    {{/if}}
  </ul>
</div>
