<div local-class="translation-edit-lint-message">
  <span local-class="description">{{this.description}}</span>

  {{#if @message.replacement}}
    <div>
      <span local-class="text">{{@message.text}}</span>

      <span local-class="arrow">
        {{t "components.translation_edit.lint_message.arrow"}}
      </span>

      <span local-class="single-replacement">
        {{@message.replacement.label}}
      </span>

      <button
        class="button button--small button--filled button--borderless"
        local-class="replaceButton"
        {{on "click" this.replaceText}}>
        {{t "components.translation_edit.lint_message.replace"}}
      </button>
    </div>
  {{/if}}
</div>
