<span class="description">{{@message.rule.description}}</span>
<span class="text">{{@message.text}}</span>

{{#if this.mappedReplacements}}
  <span class="arrow">→</span>

  {{#if this.multipleReplacements}}
    <AccSelect
      @searchEnabled={{false}}
      @selected={{this.selectedReplacement}}
      @options={{this.mappedReplacements}}
      @onchange={{action "replaceText" value="value"}}
    />
  {{else}}
    <span class="single-replacement">
      {{this.selectedReplacement.label}}
    </span>
  {{/if}}

  {{#if @message.context}}
    <button
      class="replaceButton button button--small button--filled"
      {{action 'replaceTextSelected'}}>
      Replace
    </button>
  {{/if}}
{{/if}}
