<div local-class='translation-edit-lint-message'>
  <span local-class='description'>
    {{#if @message.message}}
      {{@message.message}}
    {{else}}

      {{this.description}}
    {{/if}}
  </span>

  {{#if @message.replacement}}
    <div local-class='replacement'>
      <span local-class='replacement-text'>
        {{truncate @message.replacement.value 500}}
      </span>

      {{#if @onReplaceText}}
        <button class='button button--small button--filled button--white' {{on 'click' this.replaceText}}>
          {{t 'components.translation_edit.lint_message.replace'}}
        </button>
      {{/if}}
    </div>
  {{/if}}
</div>