<div {{did-insert this.initialLint}} local-class="translation-edit-form">
  {{#if this.isBooleanType}}
    <span local-class="label">
      {{t "components.translation_edit.form.boolean_type_notice"}}
    </span>

    <RadioButton @groupValue={{this.text}} @value="true">
      {{t "components.translation_edit.form.true_option"}}
    </RadioButton>

    <RadioButton @groupValue={{this.text}} @value="false">
      {{t "components.translation_edit.form.false_option"}}
    </RadioButton>
  {{else}}
    {{#if this.showTypeHints}}
      {{#if this.isIntegerType}}
        <span local-class="label">
          {{t "components.translation_edit.form.integer_type_notice"}}
        </span>
      {{/if}}

      {{#if this.isFloatType}}
        <span local-class="label">
          {{t "components.translation_edit.form.float_type_notice"}}
        </span>
      {{/if}}

      {{#if this.isEmptyType}}
        <span local-class="label">
          {{t "components.translation_edit.form.empty_type_notice"}}
        </span>
      {{/if}}

      {{#if this.isNullType}}
        <span local-class="label">
          {{t "components.translation_edit.form.null_type_notice"}}
        </span>
      {{/if}}
    {{/if}}

    {{#if @placeholders}}
      <div local-class="placeholders">
        <span local-class="placeholders-title">
          {{inline-svg "assets/code.svg" local-class="placeholders-title-icon"}}
          {{t "components.translation_edit.form.placeholders.title"}}
        </span>

        <div local-class="placeholders-text">
          <p local-class="placeholders-text-content">
            {{t "components.translation_edit.form.placeholders.text"}}
          </p>
        </div>

        <ul>
          {{#each @placeholders as |placeholder|}}
            <li
              local-class="placeholders-item
                {{if
                  (get this.unusedPlaceholders placeholder)
                  "placeholders-item--warning"
                }}"
            >
              <code>
                {{placeholder}}
              </code>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

    <QuickSubmitTextarea
      placeholder={{t "components.translation_edit.form.empty_type_placeholder"}}
      @rows={{this.rows}}
      @disabled={{@disabled}}
      @value={{this.text}}
      local-class="inputText"
      @onFocus={{@onFocus}}
      @onBlur={{@onBlur}}
      @onKeyUp={{fn this.changeText}}
      @onSubmit={{@onSubmit}}
    />
  {{/if}}

  {{#each this.lintMessages as |message|}}
    <TranslationEdit::LintMessage
      @message={{message}}
      @onReplaceText={{fn this.replaceText}}
    />
  {{/each}}
</div>
