<div local-class="translation-edit-form" {{did-update (perform this.onUpdateValue) @value}}>
  {{#if @placeholders}}
    <div local-class="placeholders">
      <span local-class="placeholders-title">
        {{inline-svg "assets/code.svg" local-class="placeholders-title-icon"}}
        {{t "components.translation_edit.form.placeholders.title"}}
      </span>

      <div local-class="placeholders-text">
        <p local-class="placeholders-text-content">
          {{t "components.translation_edit.form.placeholders.text"}}
        </p>
      </div>

      <ul>
        {{#each @placeholders as |placeholder|}}
          <li
            local-class="placeholders-item
              {{if
                (get this.unusedPlaceholders placeholder)
                "placeholders-item--warning"
              }}"
          >
            <code>
              {{placeholder}}
            </code>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if this.isBooleanType}}
    <span local-class="label">
      {{t "components.translation_edit.form.boolean_type_notice"}}
    </span>

    <RadioButton @groupValue={{@value}} @value="true">
      {{t "components.translation_edit.form.true_option"}}
    </RadioButton>

    <RadioButton @groupValue={{@value}} @value="false">
      {{t "components.translation_edit.form.false_option"}}
    </RadioButton>
  {{/if}}

  {{#if this.showTypeHints}}
    {{#if this.isIntegerType}}
      <span local-class="label">
        {{t "components.translation_edit.form.integer_type_notice"}}
      </span>
    {{/if}}

    {{#if this.isFloatType}}
      <span local-class="label">
        {{t "components.translation_edit.form.float_type_notice"}}
      </span>
    {{/if}}

    {{#if this.isEmptyType}}
      <span local-class="label">
        {{t "components.translation_edit.form.empty_type_notice"}}
      </span>
    {{/if}}

    {{#if this.isNullType}}
      <span local-class="label">
        {{t "components.translation_edit.form.null_type_notice"}}
      </span>
    {{/if}}
  {{/if}}

  {{#if @fileComment}}
    <div local-class="file-comment">
      <span local-class="file-comment-title">
        {{inline-svg "assets/bubble.svg" local-class="file-comment-title-icon"}}
        {{t "components.translation_edit.form.file_comment.title"}}
      </span>

      <div local-class="file-comment-text">
        <div local-class="file-comment-text-content">{{this.fileComment}}</div>
      </div>
    </div>
  {{/if}}

  {{#if this.isHTMLType}}
    <div local-class="input-wrapper">
      <HtmlTextarea
        @value={{@value}}
        @onChange={{fn this.changeHTML}}
        @wysiwygOptions={{this.wysiwygOptions}}
      />

      {{yield (hash submit=(component "translation-edit/form/submit"))}}
    </div>
  {{else}}
    <div local-class="input-wrapper">
      <textarea
        {{autoresize @value}}
        {{on-key "Escape" (fn this.cancel)}}
        {{on-key "cmd+Enter" @onSubmit}}
        {{on "input" (fn this.changeText)}}
        local-class="inputText"
        value={{@value}}
        ...attributes
      />
      {{yield (hash submit=(component "translation-edit/form/submit"))}}
    </div>
  {{/if}}

  {{#each this.lintMessages as |message|}}
    <TranslationEdit::LintMessage
      @message={{message}}
      @onReplaceText={{fn this.replaceText}}
    />
  {{/each}}
</div>
