<div local-class='item'>
  <LinkTo @route='logged-in.project.translation' @models={{array @project.id @translation.id}} local-class='item-link'>
    {{this.revisionName}}
  </LinkTo>

  <div local-class='item-text'>
    <span local-class='item-text-content'>{{this.text}}</span>

    <div local-class='item-actions'>
      {{#if (get @permissions 'machine_translations_translate')}}
        <button title={{t 'components.conflict_item.translate_tooltip'}} class='tooltip tooltip--top' local-class='item-actions-link' {{on 'click' this.translate}}>
          {{inline-svg 'assets/language.svg' local-class='item-actions-icon'}}
        </button>
      {{/if}}
    </div>
  </div>
</div>