<div class="form">
  <AccSelect
    @searchEnabled={{false}}
    @selected={{serviceValue}}
    @renderInPlace={{true}}
    @options={{mappedServices}}
    @onchange={{action (mut service) value="value"}}
  />
</div>

{{component
  dataFormComponent
  repository=repository
  defaultRef=defaultRef
  token=token
  errors=errors
  url=url
  project=project
  syncChecked=syncChecked
}}

<div class="actions">
  <AsyncButton
    @onClick={{action "submit"}}
    @loading={{isCreating}}
    class="button button--filled"
  >
    {{t "components.project_settings.integrations.save"}}
  </AsyncButton>

  {{#if onCancel}}
    <button class="button button--filled button--white" {{action onCancel}}>
      Cancel
    </button>
  {{/if}}
</div>
