<div
  {{did-insert (fn this.didUpdateIntegration)}}
  {{did-update (fn this.didUpdateIntegration) @integration}}
  {{did-insert (fn this.didUpdateErrors)}}
  {{did-update (fn this.didUpdateErrors) @errors}}
  local-class="project-settings-integrations-form"
>
  {{#if this.integration}}
    <div local-class="form">
      <AccSelect
        @searchEnabled={{false}}
        @selected={{this.serviceValue}}
        @renderInPlace={{true}}
        @options={{this.mappedServices}}
        @onchange={{fn this.setService}}
      />
    </div>

    <div local-class="data">
      {{component
        this.dataFormComponent
        repository=this.repository
        defaultRef=this.defaultRef
        token=this.token
        errors=this.errors
        url=this.url
        project=@project
        syncChecked=this.syncChecked
        onChangeUrl=(fn this.setUrl)
        onChangeSyncChecked=(fn this.setSyncChecked)
        onChangeRepository=(fn this.setRepository)
        onChangeToken=(fn this.setToken)
        onChangeDefaultRef=(fn this.setDefaultRef)
      }}
    </div>

    <div local-class="actions">
      <AsyncButton
        @onClick={{fn this.submit}}
        @loading={{this.isCreating}}
        class="button button--filled"
      >
        {{t "components.project_settings.integrations.save"}}
      </AsyncButton>

      {{#if @onCancel}}
        <button local-class="button" class="button button--filled button--white" {{on "click" (fn @onCancel)}}>
          {{t "components.project_settings.integrations.cancel"}}
        </button>
      {{/if}}
    </div>
  {{/if}}
</div>

