<div>
  <div class="form">
    {{#power-select
      disabled=true
      searchEnabled=false
      selected=serviceValue
      options=mappedServices
      onchange=(action (mut service) value='value') as |option|
    }}
      {{t option.label}}
    {{/power-select}}

    {{input
      value=url
      class='textInput'
    }}

    {{#async-button
      onClick=(action 'submit')
      loading=isCreating
      disabled=emptyUrl
      class='button button--filled'
    }}
      {{t 'components.project_settings.integrations.save'}}
    {{/async-button}}

    {{#if onCancel}}
      <button {{action onCancel}} class="button button--filled button--white">
        Cancel
      </button>
    {{/if}}
  </div>

  <div class="events">
    <h3 class="events-title">
      {{t 'components.project_settings.integrations.events.title'}}
    </h3>

    {{checkbox-with-label
      checked=syncChecked
      text=(t 'components.project_settings.integrations.events.options.sync')
      update=(action (mut syncChecked))
    }}
  </div>
</div>
