<div class="content">
  <div class="content-left">
    {{#if project}}
      {{#link-to
        'logged-in.projects'
        class='applicationLogo'
      }}
        {{inline-svg 'assets/logo.svg' class='applicationLogo-image applicationLogo-image--linked'}}
      {{/link-to}}

      {{#link-to
        'logged-in.project.index'
        project.id
        class='project'
      }}
        {{project.name}}
      {{/link-to}}

      <div class="search">
        {{inline-svg '/assets/search.svg' class='search-icon'}}

        {{input
          class='search-input'
          type='text'
          placeholder=(t 'general.search_input_placeholder_text')
          value=debouncedQuery
        }}
      </div>
    {{else}}
      <div class="applicationLogo">
        {{inline-svg 'assets/logo.svg' class='applicationLogo-image'}}

        <span class="applicationLogo-accent">{{t 'general.application_name'}}</span>
      </div>
    {{/if}}
  </div>

  {{#if session.credentials.user}}
    <div class="content-right">
      {{#if session.credentials.user.picture_url}}
        <img class="picture" src="{{session.credentials.user.picture_url}}" />
      {{/if}}

      <span class="username">{{session.credentials.user.fullname}}</span>
      {{#unless project}}
        <button {{action 'logout'}} class="button button--white">{{t 'general.logout_button'}}</button>
      {{/unless}}
    </div>
  {{/if}}
</div>
