<div>
  {{#if isPeekingError}}
    <div class="errorMessage">{{t 'components.commit_file.peek_error'}}</div>
  {{/if}}

  {{#if isCommitingError}}
    <div class="errorMessage">{{t 'components.commit_file.commit_error'}}</div>
  {{/if}}

  {{#if isMerge}}
    {{#if file}}
      <div class="options">
        <div class="option option--borderless">
          <p class="textHelper">{{t 'components.commit_file.language'}}:</p>
          {{#power-select
            searchEnabled=false
            selected=revisionValue
            options=mappedRevisions
            onchange=(action 'onSelectRevision') as |option|
          }}
            {{option.label}}
          {{/power-select}}
        </div>

        <div class="option option--borderless">
          <p class="textHelper">{{t 'components.commit_file.commit_type'}}:</p>
          {{#power-select
            searchEnabled=false
            selected=mergeType
            options=mergeTypes
            onchange=(action 'onSelectMergeType') as |option|
          }}
            {{option}}
          {{/power-select}}
        </div>
      </div>
    {{/if}}
  {{/if}}

  {{#if isSync}}
    {{#if file}}
      <div class="options">
        <div class="option option--borderless">
          <p class="textHelper">{{t 'components.commit_file.commit_type'}}:</p>
          {{#power-select
            searchEnabled=false
            selected=syncType
            options=syncTypes
            onchange=(action 'onSelectSyncType') as |option|
          }}
            {{option}}
          {{/power-select}}
        </div>
        <div class="option option--borderless"></div>
      </div>
    {{/if}}
  {{/if}}

  {{#if file}}
    <div>
      {{#unless document}}
        <div class="option">
          <p class="textHelper">{{t 'components.commit_file.file_source'}}</p>
          <p>
            {{#if existingDocumentPath}}
              <span class="documentHelper">
                {{t 'components.commit_file.existing_document_warning'}}
              </span>
            {{else}}
              <span class="documentHelper">
                {{t 'components.commit_file.new_document_warning'}}
              </span>
            {{/if}}
          </p>
          {{input value=documentPath class='fileSourceName'}}
        </div>
      {{/unless}}

      <div class="option">
        <p class="textHelper">{{t 'components.commit_file.document_format'}}</p>
        {{#power-select
          searchEnabled=false
          selected=documentFormatValue
          options=documentFormatOptions
          onchange=(action (mut documentFormat) value='value') as |option|
        }}
          {{option.label}}
        {{/power-select}}
      </div>

      {{#if (get permissions peekAction)}}
        <div class="option">
          <p class="textHelper">{{t 'components.commit_file.peek_help'}}</p>

          {{#async-button
            onClick=(action 'peek')
            loading=isPeeking
            class='button
            button--filled button--blue peekButton'
          }}
            {{t 'components.commit_file.peek_button'}}
          {{/async-button}}
        </div>
      {{/if}}

      {{#if (get permissions commitAction)}}
        <div class="actions">
          {{#async-button
            onClick=(action 'fileCancel')
            class='button button--filled button--white'
          }}
            {{t 'components.commit_file.cancel_button'}}
          {{/async-button}}

          {{#if canCommit}}
            {{#async-button
              onClick=(action 'commit')
              loading=isCommiting class='button button--filled'
            }}
              {{commitButtonText}}
            {{/async-button}}
          {{else}}
            {{#async-button class='button button--filled button--disabled'}}
              {{commitButtonText}}
            {{/async-button}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="emptyFile">
      <div class="emptyFile-upload">
        {{file-input
          name='file-input'
          id='file-input'
          onChange=(action 'fileChange')
          class='fileInput'
        }}


        <strong class="fileInputTitle">
          {{inline-svg '/assets/folder.svg' class='fileInputIcon'}}
          {{t 'components.commit_file.upload_title'}}
        </strong>

        <p class="fileInputHelper">{{t 'components.commit_file.upload_help'}}</p>

        <label for="file-input" class="button button--filled fileButton">
          {{inline-svg '/assets/import.svg' class='button-icon'}}
          {{t 'components.commit_file.file_input_button'}}
        </label>
      </div>
      <div>
        <h3 class="emptyFile-title">
          {{t 'components.commit_file.tips.cli.title'}}
        </h3>
        <p class="emptyFile-text">
          {{t 'components.commit_file.tips.cli.text'}}
        </p>

        <h3 class="emptyFile-title">
          {{t 'components.commit_file.tips.formats.title'}}
        </h3>
        <p class="emptyFile-text">
          {{t 'components.commit_file.tips.formats.text'}}
        </p>

        <h3 class="emptyFile-title">
          {{t 'components.commit_file.tips.mix.title'}}
        </h3>
        <p class="emptyFile-text">
          {{t 'components.commit_file.tips.mix.text'}}
        </p>
      </div>
    </div>
  {{/if}}
</div>
