<ul local-class='documents-list'>
  {{#each this.documents key='id' as |document|}}
    <DocumentsList::Item @permissions={{@permissions}} @document={{document}} @onDelete={{@onDelete}} @onUpdate={{@onUpdate}} @project={{@project}} />
  {{else}}
    <div local-class='empty-content'>
      <EmptyContent @text={{t 'components.documents_list.empty_text'}} />
    </div>
  {{/each}}
</ul>