<div ...attributes local-class='empty-content {{if @center "empty-content--center"}} {{if this.isBackgroundPrimary "empty-content--primary"}}' data-test-empty-content>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#if @iconPath}}
      {{inline-svg @iconPath local-class='icon'}}
    {{/if}}
    {{@text}}
  {{/if}}
</div>