<div local-class='error-section'>
  {{inline-svg 'assets/logo-bw.svg' local-class='logo'}}

  <div local-class='header'>
    <h1 local-class='status'>
      {{@status}}
    </h1>

    <h2 local-class='title'>
      {{@title}}
    </h2>
  </div>

  <p local-class='text'>
    {{@text}}
  </p>

  <LinkTo @route='login' local-class='link'>
    {{t 'components.error_section.return'}}
  </LinkTo>

  {{#if @isAuthenticated}}
    <span local-class='or'>
      {{t 'components.error_section.or'}}
    </span>

    <button class='button button--red button--borderless' {{on 'click' @onLogout}}>
      {{t 'components.error_section.logout'}}
    </button>
  {{/if}}

  <div local-class='footer'>
    <ApplicationFooter />
  </div>
</div>