{{#if @translations}}
  <div local-class='list'>
    <ul>
      {{#each @translations key='id' as |translation|}}
        <RelatedTranslationsList::Item
          @permissions={{@permissions}}
          @revisions={{@revisions}}
          @prompts={{@prompts}}
          @onUpdateText={{@onUpdateText}}
          @isInEditMode={{true}}
          @showEditButton={{false}}
          @translation={{translation}}
          @project={{@project}}
        />
      {{/each}}
    </ul>
  </div>
{{/if}}