<ul local-class='translations-list'>
  {{#if this.currentVersion}}
    <div local-class='translations-list-version'>

      {{t 'components.translations_list.translations_version_notice'}}
      <span local-class='translations-list-version-tag'>{{this.currentVersion.tag}}</span>
    </div>
  {{/if}}

  {{#each @translations key='id' as |translation|}}
    <TranslationsList::Item
      @translation={{translation}}
      @revisions={{@revisions}}
      @prompts={{@prompts}}
      @permissions={{@permissions}}
      @project={{@project}}
      @onUpdateText={{@onUpdateText}}
    />
  {{else if @query}}
    <EmptyContent local-class='empty-content' @center={{true}} @text={{t 'components.translations_list.no_translations_query' query=@query}} />
  {{else if @withAdvancedFilters}}
    <EmptyContent local-class='empty-content' @center={{true}} @text={{t 'components.translations_list.no_translations_filters'}} />
  {{else}}
    <EmptyContent local-class='empty-content' @center={{true}}>
      {{inline-svg 'assets/empty.svg' local-class='icon'}}
      {{t 'components.translations_list.no_translations'}}
      <div>
        {{t 'components.translations_list.maybe_sync_before'}}
        <LinkTo @route='logged-in.project.files' class='link'>
          {{t 'components.translations_list.maybe_sync_link'}}
        </LinkTo>
      </div>
    </EmptyContent>
  {{/each}}
</ul>