<PageTitle>
  {{inline-svg "/assets/file.svg"}}
  <h1>{{t "components.page_title.files"}}</h1>
</PageTitle>

{{#if this.model.loading}}
  <SkeletonUi::ProgressLine />
{{/if}}

{{#if this.showSkeleton}}
  <SkeletonUi::DocumentsList />
{{else}}
  <DocumentsList
    @permissions={{this.permissions}}
    @documents={{this.model.documents.entries}}
    @project={{this.model.project}}
    @onDelete={{fn this.deleteDocument}}
    @onUpdate={{fn this.updateDocument}}
  />

  {{#if (get this.permissions "sync")}}
    <DocumentsAddButton @project={{this.model.project}} />
  {{/if}}

  {{#if (get this.permissions "machine_translations_translate_file")}}
    <DocumentsMachineTranslationsButton @project={{this.model.project}} />
  {{/if}}

  <ResourcePagination
    @meta={{this.model.documents.meta}}
    @onSelectPage={{fn this.selectPage}}
  />

  {{outlet}}
{{/if}}
