<h1 class="title">
  {{t "components.version_create_form.title"}}
</h1>

<div class="text">
  {{t "components.version_create_form.text"}}
</div>

{{#if error}}
  <div class="errors">
    <div class="error">
      {{t "components.version_create_form.error"}}
    </div>
  </div>
{{/if}}

<div class="formItem">
  <label class="formItem-label">
    {{t "components.version_create_form.name_label"}}
  </label>
  <Input @value={{name}} class="textInput" />
</div>

<div class="formItem">
  <label class="formItem-label">
    {{t "components.version_create_form.tag_label"}}
  </label>
  <Input @value={{tag}} class="textInput" />
</div>

<div class="formActions">
  <LinkTo
    @route="logged-in.project.versions"
    @model={{project.id}}
    class="button button--filled button--white"
  >
    {{t "components.version_create_form.cancel_button"}}
  </LinkTo>
  <AsyncButton
    class="button button--filled"
    @loading={{isCreating}}
    @onClick={{action "submit"}}
  >
    {{t "components.version_create_form.save_button"}}
  </AsyncButton>
</div>
