{{#if isEditing}}
  {{project-settings/integrations/form
    integration=integration
    onSubmit=(action 'update')
    onCancel=(action 'toggleEdit')
  }}
{{else}}
  <div class="details">
    <div class="details-info">
      {{inline-svg logoService class='details-logo'}}
      <span class="details-service">{{mappedService}}</span>
      <span class="details-url">{{integration.data.url}}</span>
    </div>

    <div class="details-actions">
      {{#if (get permissions 'update_integration')}}
        <button {{action 'toggleEdit'}} class="button button--filled button--white">
          {{t 'components.project_settings.integrations.edit'}}
        </button>
      {{/if}}

      {{#if (get permissions 'delete_integration')}}
        {{#async-button
          onClick=(action 'delete')
          loading=isDeleting
          class='button button--filled button--red'
        }}
          {{t 'components.project_settings.integrations.delete'}}
        {{/async-button}}
      {{/if}}
    </div>
  </div>
{{/if}}
