<div>
  <h2 class="item-title">
    {{#if (get permissions 'update_version')}}
      {{#link-to
        'logged-in.project.versions.edit'
        project.id
        version.id
        class='item-title-link'
      }}
        {{version.name}}
      {{/link-to}}
    {{else}}
      {{version.name}}
    {{/if}}

    <span class="item-tag">
      {{inline-svg '/assets/tag.svg' class='item-tag-icon'}}
      {{version.tag}}
    </span>
  </h2>
  <div class="item-meta">
    {{version.user.fullname}}
    {{time-ago-in-words-tag
      date=version.insertedAt
      class='item-meta-date'
    }}
  </div>
</div>

<div class="links">
  {{#if (get permissions 'update_version')}}
    {{#link-to
      'logged-in.project.versions.edit'
      project.id
      version.id
      class='button button--filled button--white'
    }}
      {{inline-svg '/assets/pencil.svg' class='button-icon'}}
      {{t 'components.versions_list.update'}}
    {{/link-to}}
  {{/if}}

  {{#if (get permissions 'export_version')}}
    {{#link-to
      'logged-in.project.versions.export'
      project.id
      version.id
      class='button button--filled button--white'
    }}
      {{inline-svg '/assets/export.svg' class='button-icon'}}
      {{t 'components.versions_list.export'}}
    {{/link-to}}
  {{/if}}
</div>
