<li class="item-wrapper">
  <span class="item-iconContainer">
    {{inline-svg iconPath class="item-iconContainer-icon"}}
  </span>
  <div class="item-content">
    {{#if activity.isRollbacked}}
      <div class="item-content-rollbacked">
        {{t "components.activity_item.rollbacked"}}
        <TimeAgoInWordsTag
          @date={{activity.updatedAt}}
          class="item-rollbacked-date"
        />
      </div>
    {{/if}}

    <div class="item-header">
      <div class="item-header-content">
        {{#if activity.user.isBot}}
          <span class="item-user item-user--bot">
            {{inline-svg "assets/bot.svg" class="item-user-icon"}}
            {{activity.user.fullname}}
          </span>
        {{else}}
          <span
            class="item-user
              {{if activity.user.pictureUrl "item-user--pictureUrl"}}"
          >
            {{#if activity.user.pictureUrl}}
              <img
                class="item-user-picture"
                src="{{activity.user.pictureUrl}}"
              >
            {{/if}}
            {{activity.user.fullname}}
          </span>
        {{/if}}

        {{actionText}}

        {{#if showDocumentInfo}}
          <LinkTo
            @route="logged-in.project.files.export"
            @models={{array project.id activity.document.id}}
            class="item-documentPath"
          >
            {{activity.document.path}}
          </LinkTo>
        {{/if}}

        {{#if showVersionInfo}}
          <span class="item-version-tag">
            {{activity.version.tag}}
          </span>
        {{/if}}

        {{#if showRevisionInfo}}
          <LinkTo
            @route="logged-in.project.revision.translations"
            @models={{array project.id activity.revision.id}}
            class="item-revisionLink"
          >
            {{revisionName}}
          </LinkTo>
        {{/if}}

        {{#if isShowingTranslationLink}}
          {{#if activity.translation.isRemoved}}
            <LinkTo
              @route="logged-in.project.translation"
              @models={{array project.id activity.translation.id}}
              class="item-translationLink
              item-translationLink--removed"
            >
              <small class="item-translationLink-prefix">
                {{#if translationKey.prefix}}
                  {{translationKey.prefix}}
                {{else}}
                  {{translation.document.path}}
                {{/if}}
              </small>
              {{translationKey.value}}
            </LinkTo>
          {{else}}
            <LinkTo
              @route="logged-in.project.translation"
              @models={{array project.id activity.translation.id}}
              class="item-translationLink"
            >
              <small class="item-translationLink-prefix">
                {{#if translationKey.prefix}}
                  {{translationKey.prefix}}
                {{else}}
                  {{translation.document.path}}
                {{/if}}
              </small>
              {{translationKey.value}}
            </LinkTo>
          {{/if}}
        {{/if}}
      </div>

      <div class="item-actions">
        <TimeAgoInWordsTag @date={{activity.insertedAt}} class="item-date" />
        <LinkTo
          @route="logged-in.project.activity"
          @models={{array project.id activity.id}}
          class="item-details-link"
        >
          {{t "components.activity_item.details"}}
        </LinkTo>
      </div>
    </div>

    {{#if activity.rollbackedOperation}}
      <div class="item-rollback-content">
        <div>
          <span class="item-rollback-user">
            {{activity.rollbackedOperation.user.fullname}}
          </span>
          {{rollbackedOperationActionText}}

          {{#if showFromOperationTranslationLink}}
            {{#if activity.rollbackedOperation.translation.isRemoved}}
              <LinkTo
                @route="logged-in.project.translation"
                @models={{array
                  project.id
                  activity.rollbackedOperation.translation.id
                }}
                class="item-translationLink--removed"
              >
                {{activity.rollbackedOperation.translation.key}}
              </LinkTo>
            {{else}}
              <LinkTo
                @route="logged-in.project.translation"
                @models={{array
                  project.id
                  activity.rollbackedOperation.translation.id
                }}
                class="item-translationLink"
              >
                {{activity.rollbackedOperation.translation.key}}
              </LinkTo>
            {{/if}}
          {{/if}}

          {{#if activity.fromOperation.text}}
            <div class="item-translationFromOperationText">
              {{activity.fromOperation.text}}
            </div>
          {{else if fromOperationHasEmptyText}}
            <div class="item-translationFromOperationText">
              <span class="item-translationText-emptyText">
                {{t "components.activity_item.empty_text"}}
              </span>
            </div>
          {{/if}}

          {{#if showFromOperationDocumentInfo}}
            <LinkTo
              @route="logged-in.project.files.export"
              @models={{array
                project.id
                activity.rollbackedOperation.document.id
              }}
              class="item-documentPath"
            >
              {{activity.rollbackedOperation.document.path}}
            </LinkTo>
          {{/if}}
        </div>

        {{#unless compact}}
          <TimeAgoInWordsTag
            @date={{activity.rollbackedOperation.insertedAt}}
            class="item-date"
          />
          <LinkTo
            @route="logged-in.project.activity"
            @models={{array project.id activity.rollbackedOperation.id}}
            class="item-details-link"
          >
            {{t "components.activity_item.details"}}
          </LinkTo>
        {{/unless}}
      </div>
    {{/if}}

    {{#if activity.text}}
      <div class="item-translationText">
        <div class="item-translationText-text">{{activity.text}}</div>
      </div>
    {{else if hasEmptyText}}
      <div class="item-translationText">
        <span class="item-translationText-emptyText">
          {{t "components.activity_item.empty_text"}}
        </span>
      </div>
    {{/if}}

    {{#if showStats}}
      <ul class="item-stats">
        <span class="item-stats-label">
          {{statsLabel}}
        </span>
        {{#each localizedStats as |stat|}}
          <li>
            {{stat.text}}
            :
            <b>
              {{stat.count}}
            </b>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</li>
