<div local-class="revision-selector {{if this.hasManyRevisions "with-many-revisions"}}">
  {{#if @revisions.length}}
    <div>
      <AccSelect
        @searchEnabled={{false}}
        @selected={{this.revisionValue}}
        @options={{this.mappedRevisions}}
        @onchange={{fn this.selectRevision}}
      />
      {{#if this.hasManyRevisions}}
        <span local-class="otherLanguages">
          {{t
            "components.revision_selector.languages_count"
            count=this.otherRevisionsCount
          }}
        </span>
      {{/if}}
    </div>
  {{/if}}
</div>
