<div class="projectHeader projectId-{{project.id}}">
  <span class="projectName">{{project.name}}</span>
  <style>
    {{{this.colors}}}
  </style>
</div>

<div class="numberStat">
  <span class="projectUpdates">
    {{#if project.lastSyncedAt}}
      <span class="projectUpdate">
        {{t 'components.projects_list.last_synced_at_label'}}
        {{time-ago-in-words-tag
          date=project.lastSyncedAt
          class='lastSyncedAt-date'
        }}
      </span>

      <span class="projectUpdate">
        {{t 'components.projects_list.last_activity_at_label'}}
        {{time-ago-in-words-tag
          date=project.lastActivity.insertedAt
          class='lastSyncedAt-date'
        }}
      </span>
    {{else}}
      {{t 'components.projects_list.never_synced'}}
    {{/if}}
  </span>
  <span class="numberStat-totals">
    {{totalStrings}}
    {{t 'components.dashboard_revisions.strings'}}
  </span>
</div>

{{review-progress-bar correctedKeysPercentage=correctedKeysPercentage}}
