<div class="projectHeader projectId-{{project.id}}">
  {{#if project.logo}}
    <span class="projectLogo">
      <ProjectLogo @logo={{project.logo}} />
    </span>
  {{/if}}

  <span class="projectName">
    {{project.name}}
  </span>
  <style>
    {{{this.colors}}}
  </style>
</div>

<div class="numberStat">
  <span class="projectUpdates">
    {{#if project.lastSyncedAt}}
      <span class="projectUpdate">
        {{t "components.projects_list.last_synced_at_label"}}
        <TimeAgoInWordsTag
          @date={{project.lastSyncedAt}}
          class="lastSyncedAt-date"
        />
      </span>
    {{else}}
      {{t "components.projects_list.never_synced"}}
    {{/if}}
  </span>

  <span class="numberStat-totals">
    {{totalStrings}}
    {{t "components.dashboard_revisions.strings"}}
  </span>
</div>

<ReviewProgressBar @correctedKeysPercentage={{correctedKeysPercentage}} />
