<div>
  <ProjectsHeader @session={{session}} @project={{project}} />
  <style>
    body {
    {{{this.colors}}}
    }
  </style>

  <div class="wrapper">
    <div class="wrapper-sidebar">
      {{#if model.loading}}
        <SkeletonUi::ProjectNavigation />
      {{else if showError}}
        <SkeletonUi::ProjectNavigation />
      {{else}}
        <ProjectNavigation
          @project={{project}}
          @permissions={{permissions}}
          @revisions={{revisions}}
        />
      {{/if}}
    </div>

    <div class="wrapper-content">
      {{#unless model.loading}}
        <PhoenixChannelListener @project={{project}} />
      {{/unless}}

      {{#if showError}}
        <ErrorSection
          @status={{t "pods.error.unauthorized.status"}}
          @title={{t "pods.error.unauthorized.title"}}
          @text={{t "pods.error.unauthorized.text"}}
          @isAuthenticated={{false}}
        />
      {{else}}
        {{outlet}}
      {{/if}}
    </div>
  </div>
</div>
<ApplicationFooter />
