<div>
  <ProjectsHeader @session={{this.session}} @project={{this.project}} />
  <style>
    html body {
    {{{this.colors}}}
    }
    html[data-theme='dark'] body {
    {{{this.darkColors}}}
    }
  </style>

  <AccWrapper>
    {{#unless this.showError}}
      <AccWrapper::Sidebar>
        {{#if this.model.loading}}
          <SkeletonUi::ProjectNavigation />
        {{else if this.showError}}
          <SkeletonUi::ProjectNavigation />
        {{else}}
          <ProjectNavigation
            @project={{this.project}}
            @permissions={{this.permissions}}
            @revisions={{this.revisions}}
          />
        {{/if}}
      </AccWrapper::Sidebar>
    {{/unless}}

    <AccWrapper::Content>
      {{#unless this.model.loading}}
        <PhoenixChannelListener @project={{this.project}} />
      {{/unless}}

      {{#if this.showError}}
        <ErrorSection
          @status={{t "pods.error.unauthorized.status"}}
          @title={{t "pods.error.unauthorized.title"}}
          @text={{t "pods.error.unauthorized.text"}}
          @isAuthenticated={{false}}
        />
      {{else}}
        {{outlet}}
      {{/if}}
    </AccWrapper::Content>
  </AccWrapper>
</div>

<ApplicationFooter />
