<li class="list-item">
  {{#link-to
    'logged-in.project.index'
    project.id
    class='list-item-link'
  }}
    {{inline-svg '/assets/home.svg' class='list-item-link-icon'}}
    <span class="list-item-link-text">{{t 'components.project_navigation.dashboard_link_title'}}</span>
  {{/link-to}}
</li>

{{#if (get permissions 'index_translations')}}
  <li class="list-item">
    {{#link-to
      'logged-in.project.revision.translations'
      project.id
      selectedRevision
      class='list-item-link'
    }}
      {{inline-svg '/assets/search.svg' class='list-item-link-icon'}}
      <span class="list-item-link-text">{{t 'components.project_navigation.translations_link_title'}}</span>
    {{/link-to}}
  </li>
{{/if}}

{{#if (get permissions 'index_translations')}}
  <li class="list-item">
    {{#link-to
      'logged-in.project.revision.conflicts'
      project.id
      selectedRevision
      class='list-item-link'
    }}
      {{inline-svg '/assets/check.svg' class='list-item-link-icon'}}
      <span class="list-item-link-text">{{t 'components.project_navigation.conflicts_link_title'}}</span>
    {{/link-to}}
  </li>
{{/if}}

{{#if (get permissions 'index_comments')}}
  <li class="list-item">
    {{#link-to
      'logged-in.project.comments'
      project.id
      class='list-item-link'
    }}
      {{inline-svg '/assets/bubble.svg' class='list-item-link-icon'}}
      <span class="list-item-link-text">{{t 'components.project_navigation.conversation_link_title'}}</span>
    {{/link-to}}
  </li>
{{/if}}

{{#if (get permissions 'index_project_activities')}}
  <li class="list-item">
    {{#link-to
      'logged-in.project.activities'
      project.id
      class='list-item-link'
    }}
      {{inline-svg '/assets/activity.svg' class='list-item-link-icon'}}
      <span class="list-item-link-text">{{t 'components.project_navigation.activities_link_title'}}</span>
    {{/link-to}}
  </li>
{{/if}}

{{#if (get permissions 'index_documents')}}
  <li class="list-item">
    {{#link-to
      'logged-in.project.files'
      project.id
      class='list-item-link'
    }}
      {{inline-svg '/assets/file.svg' class='list-item-link-icon'}}
      <span class="list-item-link-text">{{t 'components.project_navigation.sync_link_title'}}</span>
    {{/link-to}}
  </li>
{{/if}}

{{#if (get permissions 'index_versions')}}
  <li class="list-item">
    {{#link-to
      'logged-in.project.versions'
      project.id
      class='list-item-link'
    }}
      {{inline-svg '/assets/tag.svg' class='list-item-link-icon'}}
      <span class="list-item-link-text">{{t 'components.project_navigation.versions_link_title'}}</span>
    {{/link-to}}
  </li>
{{/if}}

<li class="list-item">
  {{#link-to
    'logged-in.project.edit'
    project.id
    class='list-item-link'
  }}
    {{inline-svg '/assets/gear.svg' class='list-item-link-icon'}}
    <span class="list-item-link-text">{{t 'components.project_navigation.settings_link_title'}}</span>
  {{/link-to}}
</li>
