<PageTitle>
  {{inline-svg '/assets/language.svg'}}
  <h1>{{t 'components.page_title.manage_languages'}}</h1>
</PageTitle>

{{#if this.model.loading}}
  <SkeletonUi::ProgressLine />
{{/if}}

{{#if this.showLoading}}
  <LoadingContent @label={{t 'pods.project.manage_languages.loading_content'}} />
{{else}}
  <ProjectSettings::ManageLanguages
    @project={{this.model.project}}
    @revisions={{this.model.project.revisions}}
    @permissions={{this.permissions}}
    @languages={{this.filteredLanguages}}
    @errors={{this.errors}}
    @onPromoteMaster={{fn this.promoteRevisionMaster}}
    @onDelete={{fn this.deleteRevision}}
    @onCreate={{fn this.create}}
  />
{{/if}}

{{outlet}}