<h1 class="title">{{t 'components.dummy_login_form.title'}}</h1>

<div class="warning">{{t 'components.dummy_login_form.warning'}}</div>

<h2 class="subtitle">{{t 'components.dummy_login_form.subtitle'}}</h2>

<form class="form" {{action 'submit' on='submit'}}>
  {{input
    value=email
    class='textInput'
  }}

  <button class="button button--filled button--green dummyLoginButton">
    {{inline-svg 'assets/check.svg' class='button-icon'}}
    {{t 'components.dummy_login_form.login_button'}}
  </button>
</form>
