<div>
  <ProjectsHeader @session={{session}} />
  <ProjectsFilters
    @permissions={{permissions}}
    @query={{query}}
    @onChangeQuery={{action "changeQuery"}}
  />

  {{#if showLoading}}
    <LoadingContent @label={{t "pods.projects.loading_content"}} />
  {{else}}
    <ProjectsList
      @permissions={{permissions}}
      @projects={{model.projects.entries}}
      @query={{query}}
    />
    <ResourcePagination
      @meta={{model.projects.meta}}
      @onSelectPage={{action "selectPage"}}
    />
  {{/if}}

  {{outlet}}
</div>

<ApplicationFooter />
