<div>
  <ProjectsHeader @session={{this.session}} />
  <ProjectsFilters
    @permissions={{this.permissions}}
    @query={{this.query}}
    @onChangeQuery={{fn this.changeQuery}}
  />

  {{#if showLoading}}
    <LoadingContent @label={{t "pods.projects.loading_content"}} />
  {{else}}
    <ProjectsList
      @permissions={{this.permissions}}
      @projects={{this.model.projects.entries}}
      @query={{this.query}}
    />
    <ResourcePagination
      @meta={{this.model.projects.meta}}
      @onSelectPage={{fn this.selectPage}}
    />
  {{/if}}

  {{outlet}}
</div>

<ApplicationFooter />
