<AccModal @onClose={{fn this.closeModal}}>
  <ProjectFileOperation>
    <button class="closeButton" {{on "click" (fn this.closeModal)}}>
      <div class="closeButton-content">
        {{inline-svg "/assets/x.svg" class="closeButton-icon"}}
      </div>
    </button>

    <div class="title">
      <div class="sectionType">
        {{inline-svg "/assets/sync.svg" class="sectionType-icon"}}
        {{t "components.project_file_operations.sync"}}
      </div>
    </div>

    <div class="sections">
      <div class="sections-file">
        <CommitFile
          @permissions={{this.permissions}}
          @revisions={{this.revisions}}
          @documents={{this.documents}}
          @canCommit={{true}}
          @commitAction="sync"
          @peekAction="peek_sync"
          @commitButtonText={{t "components.commit_file.sync_button"}}
          @onFileCancel={{fn this.cancelFile}}
          @onPeek={{fn this.peek}}
          @onCommit={{fn this.sync}}
        />
      </div>

      {{#if this.revisionOperations.length}}
        <div class="sections-preview">
          <OperationsPeek @revisionOperations={{this.revisionOperations}} />
        </div>
      {{/if}}
    </div>
  </ProjectFileOperation>
</AccModal>
