{{#acc-modal onClose=(action 'closeModal')}}
  {{#project-file-operation}}
    <button {{action 'closeModal'}} class="closeButton">
      <div class="closeButton-content">
        {{inline-svg '/assets/x.svg' class='closeButton-icon'}}
      </div>
    </button>

    <div class="title">
      <div class="sectionType">
        {{inline-svg '/assets/sync.svg' class='sectionType-icon'}}
        {{t 'components.project_file_operations.sync'}}
      </div>

      {{t 'pods.document.new_sync.document_path'}}
    </div>

    <div class="sections">
      <div class="sections-file">
        {{commit-file
          permissions=permissions
          revisions=revisions
          documents=documents
          canCommit=true
          commitAction='sync'
          peekAction='peek_sync'
          commitButtonText=(t 'components.commit_file.sync_button')
          onFileCancel=(action 'cancelFile')
          onPeek=(action 'peek')
          onCommit=(action 'sync')
        }}
      </div>

      {{#if revisionOperations.length}}
        <div class="sections-preview">
          {{operations-peek revisionOperations=revisionOperations}}
        </div>
      {{/if}}
    </div>
  {{/project-file-operation}}
{{/acc-modal}}
