<AccModal @onClose={{action "closeModal"}}>
  <ProjectFileOperation>
    <button class="closeButton" {{action "closeModal"}}>
      <div class="closeButton-content">
        {{inline-svg "/assets/x.svg" class="closeButton-icon"}}
      </div>
    </button>

    <div class="title">
      <div class="sectionType">
        {{inline-svg "/assets/sync.svg" class="sectionType-icon"}}
        {{t "components.project_file_operations.sync"}}
      </div>
    </div>

    <div class="sections">
      <div class="sections-file">
        <CommitFile
          @permissions={{permissions}}
          @revisions={{revisions}}
          @documents={{documents}}
          @canCommit={{true}}
          @commitAction="sync"
          @peekAction="peek_sync"
          @commitButtonText={{t "components.commit_file.sync_button"}}
          @onFileCancel={{action "cancelFile"}}
          @onPeek={{action "peek"}}
          @onCommit={{action "sync"}}
        />
      </div>

      {{#if revisionOperations.length}}
        <div class="sections-preview">
          <OperationsPeek @revisionOperations={{revisionOperations}} />
        </div>
      {{/if}}
    </div>
  </ProjectFileOperation>
</AccModal>
