<div local-class="revision-export-options">
  <div class="filters filters--white" local-class="filters">
    <div class="filters-wrapper">
      <div local-class="exportOptions">
        {{#if this.showRevisions}}
          <div local-class="exportOptions-item">
            <AccSelect
              @searchEnabled={{false}}
              @selected={{this.revisionValue}}
              @options={{this.mappedRevisions}}
              @onchange={{fn this.revisionChanged}}
            />
          </div>
        {{/if}}

        {{#if this.showOrders}}
          <div local-class="exportOptions-item">
            <AccSelect
              @searchEnabled={{false}}
              @selected={{this.orderByValue}}
              @options={{this.orderByOptions}}
              @onchange={{fn this.orderByChanged}}
            />
          </div>
        {{/if}}

        <div local-class="exportOptions-item">
          <AccSelect
            @searchEnabled={{false}}
            @selected={{this.formatValue}}
            @options={{this.formatOptions}}
            @onchange={{fn this.formatChanged}}
          />
        </div>

        {{#if this.showDocuments}}
          <div local-class="exportOptions-item">
            <AccSelect
              @searchEnabled={{false}}
              @selected={{this.documentValue}}
              @options={{this.mappedDocuments}}
              @onchange={{fn this.documentChanged}}
            />
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
