<div local-class="revision-export-options">
  <div class="filters filters--white">
    <div class="filters-wrapper">
      <div class="exportOptions">
        {{#if showRevisions}}
          <div class="exportOptions-item">
            <AccSelect
              @searchEnabled={{false}}
              @selected={{revisionValue}}
              @options={{mappedRevisions}}
              @onchange={{action "revisionChanged" value="value"}}
            />
          </div>
        {{/if}}

        {{#if showOrders}}
          <div class="exportOptions-item">
            <AccSelect
              @searchEnabled={{false}}
              @selected={{orderByValue}}
              @options={{orderByOptions}}
              @onchange={{action "orderByChanged" value="value"}}
            />
          </div>
        {{/if}}

        <div class="exportOptions-item">
          <AccSelect
            @searchEnabled={{false}}
            @selected={{formatValue}}
            @options={{formatOptions}}
            @onchange={{action "formatChanged" value="value"}}
          />
        </div>

        {{#if showDocuments}}
          <div class="exportOptions-item">
            <AccSelect
              @searchEnabled={{false}}
              @selected={{documentValue}}
              @options={{mappedDocuments}}
              @onchange={{action "documentChanged" value="value"}}
            />
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
