<div>
  <div>
    {{#if isEditing}}
      <AccSelect
        @searchEnabled={{false}}
        @selected={{roleValue}}
        @options={{mappedPossibleRoles}}
        @onchange={{action (mut updatedRole) value="value"}}
      />
    {{else}}
      <span class="role">
        {{role}}
      </span>
    {{/if}}

    <span class="user">
      {{#if collaborator.user.pictureUrl}}
        <img class="user-picture" src="{{collaborator.user.pictureUrl}}">
      {{/if}}

      <span class="user-name">
        {{#if hasJoined}}
          {{#if collaborator.user.fullname}}
            {{collaborator.user.fullname}}
            <small class="user-email">
              {{collaborator.email}}
            </small>
          {{else}}
            {{collaborator.email}}
          {{/if}}
        {{else}}
          {{collaborator.email}}
        {{/if}}
      </span>
    </span>
  </div>

  <div>
    <span class="invite">
      {{#if hasJoined}}
        {{t "components.project_settings.collaborators_item.joined"}}
        <TimeAgoInWordsTag @date={{collaborator.insertedAt}} />
      {{else}}
        {{t "components.project_settings.collaborators_item.invited"}}

        <TimeAgoInWordsTag @date={{collaborator.insertedAt}} />

        {{#if collaborator.assigner}}
          {{t "components.project_settings.collaborators_item.by"}}
          {{collaborator.assigner.fullname}}
        {{/if}}
      {{/if}}
    </span>
  </div>
</div>

<div class="actions">
  {{#if isEditing}}
    {{#if canUpdateCollaborator}}
      <button class="button button--filled button--white" {{action "toggleUpdateCollaborator"}}>
        {{t "components.project_settings.collaborators_item.cancel_save_role"}}
      </button>

      <button class="button button--filled" {{action "updateCollaborator"}}>
        {{inline-svg "/assets/check.svg" class="button-icon"}}
        {{t "components.project_settings.collaborators_item.save_role"}}
      </button>
    {{/if}}
  {{else}}
    {{#if canUpdateCollaborator}}
      <button class="button button--filled button--white" {{action "toggleUpdateCollaborator"}}>
        {{inline-svg "/assets/pencil.svg" class="button-icon"}}
        {{t "components.project_settings.collaborators_item.edit_role"}}
      </button>
    {{/if}}

    {{#if canDeleteCollaborator}}
      <button class="button button--filled button--red" {{action "deleteCollaborator"}}>
        {{inline-svg "/assets/x.svg" class="button-icon"}}

        {{#if hasJoined}}
          {{t "components.project_settings.collaborators_item.delete_button"}}
        {{else}}
          {{t "components.project_settings.collaborators_item.uninvite_button"}}
        {{/if}}
      </button>
    {{/if}}
  {{/if}}
</div>
