<div {{did-insert this.focusTextarea}} local-class="project-settings-collaborators-create-form">
  <AccSelect
    @searchEnabled={{false}}
    @selected={{this.roleValue}}
    @options={{this.mappedPossibleRoles}}
    @onchange={{fn this.setRole}}
  />

  <QuickSubmitTextfield
    @value={{this.email}}
    local-class="textInput"
    placeholder={{t "components.collaborator_create_form.email_placeholder"}}
    @onKeyUp={{fn this.emailChanged}}
    @onSubmit={{perform this.submitTask}}
    data-test-new-collaborator-email
  />

  <AsyncButton
    @onClick={{perform this.submitTask}}
    @loading={{this.isCreating}}
    @disabled={{this.invalidEmail}}
    class="button button--filled"
    data-test-new-collaborator-submit
  >
    {{t "components.collaborator_create_form.create_button"}}
  </AsyncButton>

  {{#if @onCancel}}
    <button class="button button--filled button--white" {{on "click" (fn @onCancel)}}>
      {{t "components.collaborator_create_form.cancel_button"}}
    </button>
  {{/if}}
</div>
