<div class="filters">
  <form {{action 'submitForm' on='submit'}} class="filters-wrapper">
    <div class="filters-content">
      <div class="queryForm">
        {{inline-svg '/assets/search.svg' class='search-icon'}}

        {{input
          class='input'
          type='text'
          placeholder=(t 'components.translations_filter.input_placeholder_text')
          value=debouncedQuery
        }}
      </div>

      <div class="queryForm-filters">
        {{#if showDocumentsSelect}}
          <div class="queryForm-filter">
            <div class="queryForm-filter-select">
              {{#power-select
                matchTriggerWidth=false
                searchEnabled=false
                selected=documentValue
                options=mappedDocuments
                onchange=(action onChangeDocument value='value') as |document|
              }}
                {{document.label}}
              {{/power-select}}
            </div>
          </div>
        {{/if}}

        {{#if showVersionsSelect}}
          <div class="queryForm-filter">
            <div class="queryForm-filter-select">
              {{#power-select
                matchTriggerWidth=false
                searchEnabled=false
                selected=versionValue
                options=mappedVersions
                onchange=(action onChangeVersion value='value') as |version|
              }}
                {{version.label}}
              {{/power-select}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>

    {{#if meta.totalEntries}}
      <span class="totalEntries">{{t 'components.translations_filter.total_entries_count' count=meta.totalEntries}}</span>
    {{/if}}
  </form>
</div>
