<div local-class="translations-filter">
  <div class="filters">
    <form
      local-class="filters-wrapper"
      class="filters-wrapper"
      {{on "submit" (fn this.submitForm)}}
    >
      <div local-class="filters-content">
        <div local-class="queryForm">
          {{inline-svg "/assets/search.svg" local-class="search-icon"}}
          <input
            local-class="input"
            type="text"
            placeholder={{t
              "components.translations_filter.input_placeholder_text"
            }}
            value={{this.debouncedQuery}}
            {{on "keyup" (fn this.setDebouncedQuery)}}
          >
        </div>

        <div class="queryForm-filters">
          <div class="queryForm-filters-column">
            {{#if this.showDocumentsSelect}}
              <div class="queryForm-filter">
                <div class="queryForm-filter-select">
                  <AccSelect
                    @matchTriggerWidth={{false}}
                    @searchEnabled={{false}}
                    @selected={{this.documentValue}}
                    @options={{this.mappedDocuments}}
                    @onchange={{fn @onChangeDocument}}
                  />
                </div>
              </div>
            {{/if}}

            {{#if this.showVersionsSelect}}
              <div class="queryForm-filter">
                <div class="queryForm-filter-select">
                  <AccSelect
                    @matchTriggerWidth={{false}}
                    @searchEnabled={{false}}
                    @selected={{this.versionValue}}
                    @options={{this.mappedVersions}}
                    @onchange={{fn @onChangeVersion}}
                  />
                </div>
              </div>
            {{/if}}
          </div>

          {{#if @onChangeAdvancedFilterBoolean}}
            <button {{on "click" (fn this.toggleAdvancedFilters)}} local-class="advancedFilters" class="button button--filled button--white">
              {{inline-svg "assets/filter.svg" class="button-icon"}}
              {{t
                "components.translations_filter.advanced_filters_button"
              }}

              {{#if @withAdvancedFilters}}
                <span local-class="advancedFilters-badge">
                  {{@withAdvancedFilters}}
                </span>
              {{/if}}
            </button>
          {{/if}}
        </div>

        {{#if this.displayAdvancedFilters}}
          <TranslationsFilter::AdvancedFilters
            @isTextEmptyFilter={{@isTextEmptyFilter}}
            @isTextNotEmptyFilter={{@isTextNotEmptyFilter}}
            @isAddedLastSyncFilter={{@isAddedLastSyncFilter}}
            @isCommentedOnFilter={{@isCommentedOnFilter}}
            @onChangeAdvancedFilterBoolean={{@onChangeAdvancedFilterBoolean}}
          />
        {{/if}}
      </div>

      {{#if @meta.totalEntries}}
        <span local-class="totalEntries">
          {{t
            "components.translations_filter.total_entries_count"
            count=@meta.totalEntries
          }}
        </span>
      {{/if}}
    </form>
  </div>
</div>
