<div>
  {{#unless this.showError}}
    <style>
      html body {
      {{{this.colors}}}
      } html[data-theme='dark'] body {
      {{{this.darkColors}}}
      }
    </style>
  {{/unless}}

  <AccWrapper>
    {{#unless this.showError}}
      <AccWrapper::Sidebar>
        {{#if this.model.loading}}
          <SkeletonUi::ProjectNavigation />
        {{else if this.showError}}
          <SkeletonUi::ProjectNavigation />
        {{else}}
          <ProjectNavigation @project={{this.project}} @permissions={{this.permissions}} @revisions={{this.revisions}} />
        {{/if}}
      </AccWrapper::Sidebar>
    {{/unless}}

    <AccWrapper::Content>
      {{#if this.showError}}
        <ErrorSection
          @status={{t 'pods.error.unauthorized.status'}}
          @title={{t 'pods.error.unauthorized.title'}}
          @text={{t 'pods.error.unauthorized.text'}}
          @isAuthenticated={{this.session.isAuthenticated}}
        />
      {{else}}
        {{#unless this.model.loading}}
          <PhoenixChannelListener @project={{this.project}} />
          <RecentProjectCache @project={{this.project}} />
        {{/unless}}

        {{outlet}}
      {{/if}}
    </AccWrapper::Content>
  </AccWrapper>
</div>