<div class="filters">
  <form {{action 'submitForm' on='submit'}} class="filters-wrapper">
    <div class="queryFilter">
      {{inline-svg '/assets/search.svg' class='search-icon'}}

      {{input
        class='input'
        type='text'
        placeholder=(t 'components.projects_filters.input_placeholder_text')
        value=debouncedQuery
      }}
    </div>

    {{#unless debouncedQuery}}
      {{#if (get permissions 'create_project')}}
        {{#link-to
          'logged-in.projects.new'
          class='button button--filled createProjectButton'
        }}
          {{inline-svg '/assets/add.svg' class='button-icon'}}
          {{t 'components.projects_filters.new_project'}}
        {{/link-to}}
      {{/if}}
    {{/unless}}
  </form>

  <div class="filters-meta">
    {{#if query}}
      {{t 'components.projects_filters.searching_for'}}
      <em class="filters-meta-keyword">{{query}}</em>
    {{/if}}
  </div>
</div>
