<div class="filters">
  <form class="filters-wrapper" {{action "submitForm" on="submit"}}>
    <div class="queryFilter">
      {{inline-svg "/assets/search.svg" class="search-icon"}}
      <Input
        class="input"
        @type="text"
        placeholder={{t "components.projects_filters.input_placeholder_text"}}
        @value={{debouncedQuery}}
      />
    </div>

    {{#unless debouncedQuery}}
      {{#if (get permissions "create_project")}}
        <LinkTo
          @route="logged-in.projects.new"
          class="button button--filled button--green createProjectButton"
        >
          {{inline-svg "/assets/add.svg" class="button-icon"}}
          {{t "components.projects_filters.new_project"}}
        </LinkTo>
      {{/if}}
    {{/unless}}
  </form>

  <div class="filters-meta">
    {{#if query}}
      {{t "components.projects_filters.searching_for"}}
      <em class="filters-meta-keyword">
        {{query}}
      </em>
    {{/if}}
  </div>
</div>
