<div local-class="project-settings-links-list">
  <div local-class="list">
    <LinkTo @route="logged-in.project.edit.collaborators" local-class="link">
      {{inline-svg "assets/users.svg" local-class="link-icon"}}
      {{t "components.project_settings.links_list.collaborators"}}
    </LinkTo>

    <LinkTo @route="logged-in.project.edit.badges" local-class="link">
      {{inline-svg "assets/badge.svg" local-class="link-icon"}}
      {{t "components.project_settings.links_list.badges"}}
    </LinkTo>

    <LinkTo @route="logged-in.project.edit.api-token" local-class="link">
      {{inline-svg "assets/code.svg" local-class="link-icon"}}
      {{t "components.project_settings.links_list.api_token"}}
    </LinkTo>

    <LinkTo @route="logged-in.project.edit.service-integrations" local-class="link">
      {{inline-svg "assets/share.svg" local-class="link-icon"}}
      {{t "components.project_settings.links_list.service_integrations"}}
    </LinkTo>

    <LinkTo @route="logged-in.project.edit.manage-languages" local-class="link">
      {{inline-svg "assets/language.svg" local-class="link-icon"}}
      {{t "components.project_settings.links_list.manage_languages"}}
    </LinkTo>

    <LinkTo @route="logged-in.project.edit.jipt" local-class="link">
      {{inline-svg "assets/edit-in-place.svg" local-class="link-icon"}}
      {{t "components.project_settings.links_list.jipt"}}
    </LinkTo>
  </div>
</div>
