<div class="list">
  <LinkTo @route="logged-in.project.edit.collaborators" class="link">
    {{inline-svg "assets/users.svg" class="link-icon"}}
    {{t "components.project_settings.links_list.collaborators"}}
  </LinkTo>

  <LinkTo @route="logged-in.project.edit.badges" class="link">
    {{inline-svg "assets/badge.svg" class="link-icon"}}
    {{t "components.project_settings.links_list.badges"}}
  </LinkTo>

  <LinkTo @route="logged-in.project.edit.api-token" class="link">
    {{inline-svg "assets/bot.svg" class="link-icon"}}
    {{t "components.project_settings.links_list.api_token"}}
  </LinkTo>

  <LinkTo @route="logged-in.project.edit.service-integrations" class="link">
    {{inline-svg "assets/share.svg" class="link-icon"}}
    {{t "components.project_settings.links_list.service_integrations"}}
  </LinkTo>

  <LinkTo @route="logged-in.project.edit.manage-languages" class="link">
    {{inline-svg "assets/language.svg" class="link-icon"}}
    {{t "components.project_settings.links_list.manage_languages"}}
  </LinkTo>

  <LinkTo @route="logged-in.project.edit.jipt" class="link">
    {{inline-svg "assets/edit-in-place.svg" class="link-icon"}}
    {{t "components.project_settings.links_list.jipt"}}
  </LinkTo>
</div>
