{{#if showPagination}}
  <button {{action 'goToPreviousPage'}} disabled={{disabledPrevious}} class="button button--white button--filled button--iconOnly">
    {{inline-svg 'assets/chevron-left.svg' class='button-icon'}}
  </button>

  <span class="label">
    <span class="label-number">{{attrs.meta.currentPage}}</span>
    /
    <span class="label-number">{{attrs.meta.totalPages}}</span>
  </span>

  <button {{action 'goToNextPage'}} disabled={{disabledNext}} class="button button--white button--filled button--iconOnly">
    {{inline-svg 'assets/chevron-right.svg' class='button-icon'}}
  </button>
{{/if}}
