<div local-class="resource-pagination">
  {{#if showPagination}}
    <button
      disabled={{disabledPrevious}}
      class="button button--white button--filled button--iconOnly"
      {{action "goToPreviousPage"}}
    >
      {{inline-svg "assets/chevron-left.svg" class="button-icon"}}
    </button>

    <span class="label">
      <span class="label-number">
        {{attrs.meta.currentPage}}
      </span>
      /
      <span class="label-number">
        {{attrs.meta.totalPages}}
      </span>
    </span>

    <button
      disabled={{disabledNext}}
      class="button button--white button--filled button--iconOnly"
      {{action "goToNextPage"}}
    >
      {{inline-svg "assets/chevron-right.svg" class="button-icon"}}
    </button>
  {{/if}}
</div>
