<div local-class='data-control'>
  <h3 local-class='data-title'>
    {{t 'components.project_settings.integrations.target_version.label'}}
  </h3>

  {{#each @allTargetVersions as |target|}}
    <label local-class='radio'>
      <input type='radio' checked={{eq @targetVersion target.value}} name='target_version' {{on 'change' (fn this.changeTargetVersion target.value)}} required />
      {{target.value}}
    </label>
  {{/each}}

  {{#if (eq @targetVersion 'SPECIFIC')}}
    <ProjectSettings::Integrations::Form::DataControlText @placeholder='1.0.0' @value={{@specificVersion}} @onChange={{this.changeSpecificVersion}} />
  {{/if}}
</div>