<div local-class='data-control'>
  <h3 local-class='data-title'>
    {{@label}}
  </h3>

  {{#each this.allTargetVersions as |target|}}
    <label local-class='radio'>
      <Input @type='radio' name="target_version" {{on 'change' (fn this.changeTargetVersion target.value)}} required />
      {{t target.label}}
    </label>
  {{/each}}

  {{#if (eq @targetVersion 'SPECIFIC')}}
    <ProjectSettings::Integrations::Form::DataControlText
      @placeholder='1.0.0'
      @value={{this.specificVersion}}
      @onChange={{this.changeSpecificVersion}}
    />
  {{/if}}
</div>
