<div local-class="conflicts-filters">
  <div class="filters">
    <form class="filters-wrapper" local-class="filters-wrapper" {{on "submit" (fn this.submitForm)}}>
      <div class="filters-content" local-class="filters-content">
        <div class="queryForm" local-class="queryForm">
          {{inline-svg "/assets/search.svg" local-class="search-icon"}}

          <input
            local-class="input"
            type="text"
            placeholder={{t "components.conflicts_filters.input_placeholder_text"}}
            value={{this.debouncedQuery}}
            {{on "keyup" this.setDebouncedQuery}}
          >
        </div>

        <div class="queryForm-filters">
          <div class="queryForm-filters-column">
            {{#if this.showDocumentsSelect}}
              <div class="queryForm-filter">
                <div class="queryForm-filter-select">
                  <AccSelect
                    @matchTriggerWidth={{false}}
                    @searchEnabled={{false}}
                    @selected={{this.documentValue}}
                    @options={{this.mappedDocuments}}
                    @onchange={{fn @onChangeDocument}}
                  />
                </div>
              </div>
            {{/if}}

            {{#if this.showReferenceRevisionsSelect}}
              <div class="queryForm-filter">
                <div class="queryForm-filter-select">
                  <AccSelect
                    @matchTriggerWidth={{false}}
                    @searchEnabled={{false}}
                    @selected={{this.referenceValue}}
                    @options={{this.mappedReferenceRevisions}}
                    @onchange={{fn @onChangeReference}}
                  />
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </div>

      {{#if @meta.totalEntries}}
        <span local-class="totalEntries">
          {{t
            "components.conflicts_filters.total_entries_count"
            count=@meta.totalEntries
          }}
        </span>
      {{/if}}
    </form>
  </div>
</div>
