<div local-class="conflicts-filters">
  <div class="filters">
    <form class="filters-wrapper" {{action "submitForm" on="submit"}}>
      <div class="filters-content">
        <div class="queryForm">
          {{inline-svg "/assets/search.svg" class="search-icon"}}

          <Input
            class="input"
            @type="text"
            placeholder={{t "components.conflicts_filters.input_placeholder_text"}}
            @value={{debouncedQuery}}
          />
        </div>

        <div class="queryForm-filters">
          <div class="queryForm-filters-column">
            {{#if showDocumentsSelect}}
              <div class="queryForm-filter">
                <div class="queryForm-filter-select">
                  <AccSelect
                    @matchTriggerWidth={{false}}
                    @searchEnabled={{false}}
                    @selected={{documentValue}}
                    @options={{mappedDocuments}}
                    @onchange={{action onChangeDocument value="value"}}
                  />
                </div>
              </div>
            {{/if}}

            {{#if showReferenceRevisionsSelect}}
              <div class="queryForm-filter">
                <div class="queryForm-filter-select">
                  <AccSelect
                    @matchTriggerWidth={{false}}
                    @searchEnabled={{false}}
                    @selected={{referenceValue}}
                    @options={{mappedReferenceRevisions}}
                    @onchange={{action onChangeReference value="value"}}
                  />
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </div>

      {{#if meta.totalEntries}}
        <span class="totalEntries">
          {{t
            "components.conflicts_filters.total_entries_count"
            count=meta.totalEntries
          }}
        </span>
      {{/if}}
    </form>
  </div>
</div>
