{{#acc-modal onClose=(action 'closeModal')}}
  {{#project-file-operation}}
    <button {{action 'closeModal'}} class="closeButton">
      <div class="closeButton-content">
        {{inline-svg '/assets/x.svg' class='closeButton-icon'}}
      </div>
    </button>

    <div class="title">
      <div class="sectionType">
        {{inline-svg '/assets/export.svg' class='sectionType-icon'}}
        {{t 'components.project_file_operations.export'}}
      </div>

      {{document.path}}

      <div class="subtitle">
        <small class="subtitle-label">{{t 'components.project_file_operations.document_format'}}:</small>
        {{document.format}}
      </div>
    </div>

    {{revision-export-options
      format=documentFormatFilter
      onChangeFormat=(action (mut documentFormatFilter))
    }}

    {{#async-button
      onClick=(action 'exportFile')
      disabled=exportButtonDisabled
      class='button button--filled render-export'
    }}
      {{t 'components.project_file_operations.export'}}
    {{/async-button}}

    {{#if exportLoading}}
      {{skeleton-ui/progress-line}}
    {{/if}}

    <pre class="render">{{jipt-export
      onFileLoaded=(action 'onFileLoaded')
      project=project
      document=document
    }}</pre>
  {{/project-file-operation}}
{{/acc-modal}}
