<AccModal @onClose={{action "closeModal"}}>
  <ProjectFileOperation>
    <button class="closeButton" {{action "closeModal"}}>
      <div class="closeButton-content">
        {{inline-svg "/assets/x.svg" class="closeButton-icon"}}
      </div>
    </button>

    <div class="title">
      <div class="sectionType">
        {{inline-svg "/assets/edit-in-place.svg" class="sectionType-icon"}}
        {{t "components.project_file_operations.export_jipt"}}
      </div>

      <div class="title-document">
        {{document.path}}

        <span class="title-documentExtension">.{{documentFormatItem.extension}}</span>
      </div>
    </div>

    <RevisionExportOptions
      @format={{documentFormatFilter}}
      @onChangeFormat={{action (mut documentFormatFilter)}}
    />

    <LinkTo
      @route="logged-in.project.files.export"
      @models={{array project.id document.id}}
      class="button button--filled button--white button--small toggleJiptExport"
    >
      {{inline-svg "/assets/export.svg" class="button-icon"}}
      {{t "components.project_file_operations.export"}}
    </LinkTo>

    <AsyncButton
      @onClick={{action "exportFile"}}
      @disabled={{exportButtonDisabled}}
      class="button button--filled renderExport"
    >
      {{t "components.project_file_operations.export"}}
    </AsyncButton>

    {{#if exportLoading}}
      <SkeletonUi::ProgressLine />
    {{/if}}

    <JiptExport
      @class="render"
      @onFileLoaded={{action "onFileLoaded"}}
      @project={{project}}
      @document={{document}}
      @documentFormat={{documentFormatFilter}}
    />
  </ProjectFileOperation>
</AccModal>
