{{inline-svg "assets/logo-bw.svg" class="logo"}}

<div class="header">
  <h1 class="status">
    {{status}}
  </h1>

  <h2 class="title">
    {{title}}
  </h2>
</div>

<p class="text">
  {{text}}
</p>

{{#if isAuthenticated}}
  <button class="button button--bordered button--red" {{action onLogout}}>
    {{t "components.error_section.logout"}}
  </button>

  <span class="or">
    {{t "components.error_section.or"}}
  </span>
{{/if}}

<LinkTo @route="login" class="link">
  {{t "components.error_section.return"}}
</LinkTo>
