<h1 class="title">
  {{t "components.project_create_form.title"}}
</h1>

{{#if error}}
  <div class="errors">
    <div class="error">
      {{t "components.project_create_form.error"}}
    </div>
  </div>
{{/if}}

<div class="formItem">
  <label class="formItem-label">
    {{t "components.project_create_form.name_label"}}
  </label>

  <div class="formItem-fields">
    <Input @value={{name}} class="textInput" />
    <Input @type="color" @value={{mainColor}} class="colorInput" />

    <AccEmojiPicker
      role="button"
      class="logoInput"
      @onPicked={{action "logoPicked"}}
      >
      <ProjectLogo @logo={{logo}} />
    </AccEmojiPicker>
  </div>
</div>

<div class="formItem">
  <label class="formItem-label">
    {{t "components.project_create_form.language_label"}}
  </label>

  {{#if mappedLanguages}}
    <AccSelect
      @searchEnabled=true
      @search={{action "searchLanguages"}}
      @options={{mappedLanguages}}
      @selected={{languageValue}}
      @searchPlaceholder={{t
        "components.project_create_form.language_search_placeholder"
      }}
      @onchange={{action (mut language) value="value"}}
    />
  {{else}}
    <LoadingContent class="formItem-loading" />
  {{/if}}
</div>

<div class="formActions">
  <LinkTo
    @route="logged-in.projects"
    class="button
    button--filled button--white"
  >
    {{t "components.project_create_form.cancel_button"}}
  </LinkTo>
  <AsyncButton
    @disabled={{emptyLanguage}}
    class="button button--filled button--green"
    @loading={{isCreating}}
    @onClick={{action "submit"}}
  >
    {{t "components.project_create_form.save_button"}}
  </AsyncButton>
</div>
