<div local-class="conflict-item {{if this.active "active"}} {{if this.resolved "resolved"}} {{if this.error "errored"}} {{if this.fullscreen "fullscreen"}}">
  <li>
    <LinkTo
      @route="logged-in.project.translation"
      @models={{array @project.id @conflict.id}}
      local-class="key"
    >
      <strong local-class="item-key">
        <small local-class="item-key-prefix">
          {{#if this.conflictKey.prefix}}
            {{this.conflictKey.prefix}}
          {{else}}
            {{@conflict.document.path}}
          {{/if}}
        </small>
        {{this.conflictKey.value}}
      </strong>
    </LinkTo>

    {{#if this.resolved}}
      <div local-class="textResolved">
        <div local-class="textResolved-content">
          {{#if this.error}}
            <div local-class="error">
              {{t "components.conflict_item.uncorrect_error_text"}}
            </div>
          {{/if}}
        </div>
      </div>
    {{else}}
      <div local-class="item-details">
        <div local-class="item-details__column">
          <div local-class="textConflicted">
            {{#if this.emptyPreviousText}}
              <span local-class="textConflicted-empty">
                {{t "components.conflict_item.no_previous_text"}}
              </span>
            {{else if this.samePreviousText}}
              <span local-class="textConflicted-empty">
                {{t "components.conflict_item.same_text"}}
              </span>
            {{else}}
              <span local-class="textConflicted-content">{{@conflict.conflictedText}}</span>
            {{/if}}
          </div>

          {{#if this.emptyPreviousText}}
            <div local-class="textDiff"><span class="added">{{@conflict.correctedText}}</span></div>
          {{else if this.samePreviousText}}
            <div local-class="textDiff">{{@conflict.correctedText}}</div>
          {{else}}
            <div local-class="textDiff">{{string-diff @conflict.correctedText @conflict.conflictedText}}</div>
          {{/if}}

          {{#if @conflict.relatedTranslation.id}}
            <div local-class="conflictedText-textReference">
              <strong local-class="conflictedText-textReference-language">
                <LinkTo
                  @route="logged-in.project.translation"
                  @models={{array @project.id @conflict.relatedTranslation.id}}
                  local-class="conflictedText-textReference-link"
                >
                  {{@revision.language.name}}
                </LinkTo>
                <span local-class="conflictedText-textReference-updatedAt">
                  <TimeAgoInWordsTag
                    @date={{@conflict.relatedTranslation.updatedAt}}
                  />
                </span>
              </strong>
              <div local-class="conflictedText-textReference-text">
                <span local-class="conflictedText-textReference-text-content">{{@conflict.relatedTranslation.correctedText}}</span>
              </div>
            </div>
          {{/if}}
          {{#if this.error}}
            <div local-class="error">
              {{t "components.conflict_item.correct_error_text"}}
            </div>
          {{/if}}
        </div>
        <div local-class="item-details__column">
          {{#if this.active}}
            <div {{did-insert this.focusTextarea}} local-class="textInput">
              <TranslationEdit::Form
                @projectId={{@project.id}}
                @translationId={{@conflict.id}}
                @disabled={{@conflict.isRemoved}}
                @valueType={{@conflict.valueType}}
                @value={{this.textInput}}
                @showTypeHints={{false}}
                @onFocus={{fn this.inputFocus}}
                @onBlur={{fn this.inputBlur}}
                @onKeyUp={{fn this.changeTranslationText}}
                @onSubmit={{fn this.correct}}
              />
            </div>
          {{else}}
            <span tabindex="0" role="button" local-class="item-text" {{on "click" (fn this.toggleActive)}}>
              {{this.textInput}}
            </span>
          {{/if}}

          {{#if (get @permissions "correct_translation")}}
            <AsyncButton
              @onClick={{fn this.correct}}
              @loading={{this.loading}}
              class="button button--filled button--green"
              local-class="correctButton"
            >
              {{inline-svg "/assets/check.svg" class="button-icon"}}
              {{t "components.conflict_item.correct_button_text"}}
            </AsyncButton>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </li>
</div>
