<div local-class='wrapper'>
  <h2 local-class='title'>
    {{t 'components.project_settings.lint_entries.title'}}
  </h2>
  <p local-class='text'>
    {{t 'components.project_settings.lint_entries.help'}}
  </p>

  {{#if @lintEntries.entries.length}}
    <ul local-class='list'>
      {{#each @lintEntries.entries key='id' as |lintEntry|}}
        <li>
          <ProjectSettings::LintEntries::Item @lintEntry={{lintEntry}} @onEdit={{this.openEdit}} />
        </li>
      {{/each}}
    </ul>
  {{else}}
    <EmptyContent local-class='empty' @text={{t 'components.project_settings.lint_entries.empty'}} />
  {{/if}}

  {{#if (get @permissions 'createProjectLintEntry')}}
    <button type='button' class='button button--xl button--primary button--highlight' {{on 'click' this.openNew}}>
      {{inline-svg '/assets/add.svg' class='button-icon'}}
      {{t 'components.project_settings.lint_entries.add_button'}}
    </button>
  {{/if}}

  {{#if this.showModal}}
    <ProjectSettings::LintEntries::FormModal
      @lintEntry={{this.editingEntry}}
      @onClose={{this.closeModal}}
      @onCreate={{@onCreate}}
      @onUpdate={{@onUpdate}}
      @onDelete={{@onDelete}}
    />
  {{/if}}
</div>