<div class="data">
  <div class="data-control {{if this.repositoryError "error-control"}}">
    <label class="data-title">
      {{t "components.project_settings.integrations.data.repository"}}
    </label>
    <input
      placeholder="mirego/accent"
      value={{@repository}}
      class="textInput"
      {{on "change" (fn this.changeRepository)}}
    >
  </div>

  <div class="data-control {{if this.tokenError "error-control"}}">
    <label class="data-title">
      {{t "components.project_settings.integrations.data.token"}}
      <a
        class="data-title-help"
        target="_blank"
        rel="noopener noreferrer"
        href="https://help.github.com/en/articles/creating-a-personal-access-token-for-the-command-line"
      >
        {{t "components.project_settings.integrations.token_how"}}
      </a>
    </label>

    <input
      placeholder="aaaa-bbbb-cccc"
      value={{@token}}
      class="textInput"
      {{on "change" (fn this.changeToken)}}
    >
  </div>

  <div class="data-control {{if this.defaultRefError "error-control"}}">
    <label class="data-title">
      {{t "components.project_settings.integrations.data.default_ref"}}
    </label>

    <input
      placeholder="master"
      value={{@defaultRef}}
      class="textInput"
      {{on "change" (fn this.changeDefaultRef)}}
    >
  </div>

  {{#if this.webhookUrl}}
    <div class="instructions">
      <label class="data-title">
        {{t "components.project_settings.integrations.github_webhook_url"}}
        <a
          class="data-title-help"
          target="_blank"
          rel="noopener noreferrer"
          href="https://developer.github.com/webhooks/creating"
        >
          {{t "components.project_settings.integrations.github_webhook_url_how"}}
        </a>
      </label>

      <input
        readonly=""
        onClick="this.select();"
        class="textInput"
        value={{this.webhookUrl}}
      >

      <div class="instructions-text">
        <p>
          {{t
            "components.project_settings.integrations.github_webhook_accent_cli_1"
            htmlSafe=true
          }}
        </p>

        <p>
          {{t
            "components.project_settings.integrations.github_webhook_accent_cli_2"
            htmlSafe=true
          }}
        </p>
      </div>
    </div>
  {{/if}}
</div>
