<ProjectSettings::Integrations::Form::DataControlText
  @error={{this.repositoryError}}
  @label={{t "components.project_settings.integrations.data.repository"}}
  @placeholder="mirego/accent"
  @value={{@repository}}
  @onChange={{this.changeRepository}}
/>

<ProjectSettings::Integrations::Form::DataControlText
  @error={{this.tokenError}}
  @label={{t "components.project_settings.integrations.data.token"}}
  @placeholder="aaaa-bbbb-cccc"
  @value={{@token}}
  @onChange={{this.changeToken}}
  @helpLinkHref="https://help.github.com/en/articles/creating-a-personal-access-token-for-the-command-line"
  @helpLinkTitle={{t "components.project_settings.integrations.token_how"}}
/>

<ProjectSettings::Integrations::Form::DataControlText
  @error={{this.defaultRefError}}
  @label={{t "components.project_settings.integrations.data.default_ref"}}
  @placeholder="master"
  @value={{@defaultRef}}
  @onChange={{this.changeDefaultRef}}
/>

{{#if this.webhookUrl}}
  <div local-class="instructions">
    <label local-class="data-title">
      {{t "components.project_settings.integrations.github_webhook_url"}}
      <a
        local-class="data-title-help"
        target="_blank"
        rel="noopener noreferrer"
        href="https://developer.github.com/webhooks/creating"
      >
        {{t "components.project_settings.integrations.github_webhook_url_how"}}
      </a>
    </label>

    <input
      readonly=""
      onClick="this.select();"
      local-class="textInput"
      value={{this.webhookUrl}}
    >

    <div local-class="instructions-text">
      <p>
        {{t
          "components.project_settings.integrations.github_webhook_accent_cli_1"
          htmlSafe=true
        }}
      </p>

      <p>
        {{t
          "components.project_settings.integrations.github_webhook_accent_cli_2"
          htmlSafe=true
        }}
      </p>
    </div>
  </div>
{{/if}}
