  <div class="data">
    <div class="data-control {{if repositoryError 'error-control'}}">
      <label class="data-title">{{t 'components.project_settings.integrations.data.repository'}}</label>
      {{input
        placeholder="mirego/accent"
        value=repository
        class='textInput'
      }}
    </div>

    <div class="data-control {{if tokenError 'error-control'}}">
      <label class="data-title">
        {{t 'components.project_settings.integrations.data.token'}}
        <a class="data-title-help" target="_blank" rel="noopener noreferrer" href="https://help.github.com/en/articles/creating-a-personal-access-token-for-the-command-line">
          {{t 'components.project_settings.integrations.token_how'}}
        </a>
      </label>
      {{input
        placeholder="aaaa-bbbb-cccc"
        value=token
        class='textInput'
      }}
    </div>

    <div class="data-control {{if defaultRefError 'error-control'}}">
      <label class="data-title">{{t 'components.project_settings.integrations.data.default_ref'}}</label>
      {{input
        placeholder="master"
        value=defaultRef
        class='textInput'
      }}
    </div>

    {{#if webhookUrl}}
      <div class="instructions">
        <label class="data-title">
          {{t 'components.project_settings.integrations.github_webhook_url'}}
          <a class="data-title-help" target="_blank" rel="noopener noreferrer" href="https://developer.github.com/webhooks/creating">
            {{t 'components.project_settings.integrations.github_webhook_url_how'}}
          </a>
        </label>

        <input readonly="" onClick="this.select();" class="textInput" value={{webhookUrl}} />

        <div class="instructions-text">
          <p>{{t 'components.project_settings.integrations.github_webhook_accent_cli_1'}}</p>
          <p>{{t 'components.project_settings.integrations.github_webhook_accent_cli_2'}}</p>
        </div>
      </div>
    {{/if}}
  </div>
