{{project-settings/title title=(t 'components.project_settings.jipt.title')}}

<p class="text">
  {{t 'components.project_settings.jipt.integration_help'}}
</p>

<ol class="list">
  <li>
    <h2 class="list-title">{{t 'components.project_settings.jipt.script_title'}}</h2>
    <textarea
      readonly=""
      onClick="this.select();"
      class="code">{{this.scriptContent}}</textarea>
  </li>

  <li>
    <h2 class="list-title">{{t 'components.project_settings.jipt.add_language_title'}}</h2>
    <p class="list-text">
      {{t 'components.project_settings.jipt.pseudo_language_text'}}
    </p>

    <h3 class="image-title">
      {{t 'components.project_settings.jipt.add_language_image_1'}}
    </h3>
    <img src="/assets/jipt/fr.png" class="image" />

    <h3 class="image-title">
      {{t 'components.project_settings.jipt.add_language_image_2'}}
    </h3>
    <img src="/assets/jipt/accent.png" class="image" />
  </li>

  <li>

    <h2 class="list-title">{{t 'components.project_settings.jipt.use_language_title'}}</h2>
    <p class="list-text">
      {{t 'components.project_settings.jipt.use_language_text'}}
    </p>

    <img src="/assets/jipt/source.png" class="image" />
    <img src="/assets/jipt/browser.png" class="image" />
  </li>
</ol>
