<footer local-class='footer'>
  <div local-class='inner'>
    <div local-class='left'>
      <span local-class='version'>
        {{this.version}}
      </span>

      <div local-class='button-themes'>
        <button local-class='button-theme button-theme--moon' {{on 'click' this.toggleDark}}>
          {{inline-svg '/assets/moon.svg'}}
        </button>
        <button local-class='button-theme button-theme--sun' {{on 'click' this.toggleLight}}>
          {{inline-svg '/assets/sun.svg'}}
        </button>
      </div>
    </div>

    <div local-class='right'>
      <div>
        {{t 'components.application_footer.text'}}
        <a local-class='external-link' target='_blank' rel='noopener noreferrer' href='https://mirego.com?ref=accent'>
          {{t 'general.company_name'}}
        </a>
      </div>

      <div local-class='select'>
        <select {{on 'change' this.changeLanguage}}>
          <option selected={{eq this.currentLocale 'en-us'}} value='en-us'>{{t 'components.application_footer.language_select.english'}}</option>
          <option selected={{eq this.currentLocale 'fr-ca'}} value='fr-ca'>{{t 'components.application_footer.language_select.english'}}</option>
        </select>
      </div>
    </div>
  </div>
</footer>