<footer local-class="footer">
  <div local-class="inner">
    <div local-class="meta">
      <span local-class="version">
        {{this.version}}
      </span>

      <div local-class="button-themes">
        <button local-class="button-theme button-theme--moon" {{on "click" this.toggleDark}}>
          {{inline-svg "/assets/moon.svg"}}
        </button>
        <button local-class="button-theme button-theme--sun" {{on "click" this.toggleLight}}>
          {{inline-svg "/assets/sun.svg"}}
        </button>
      </div>
    </div>

    <div>
      {{t "components.application_footer.text"}}
      <a local-class="external-link" target="_blank" rel="noopener" href="https://mirego.com">
        {{t "general.company_name"}}
      </a>
    </div>
  </div>
</footer>
