<div>
  <span class="language">
    {{#if (get permissions "index_translations")}}
      <LinkTo
        @route="logged-in.project.revision.translations"
        @models={{array project.id revision.id}}
        class="language-name"
      >
        {{revision.language.name}}
        <span class="language-reviewedPercentage">
          {{correctedKeysPercentage}}
          %
        </span>
      </LinkTo>
    {{else}}
      <span class="language-name">
        {{revision.language.name}}
        <span class="language-reviewedPercentage">
          {{correctedKeysPercentage}}
          %
        </span>
      </span>
    {{/if}}

    <span class="reviewedStats">
      <span class="reviewedStats-reviewedCount">
        {{reviewsCount}}
      </span>
      /
      <span class="reviewedStats-translationsCount">
        {{revision.translationsCount}}
      </span>
    </span>
  </span>
  <ReviewProgressBar @correctedKeysPercentage={{correctedKeysPercentage}} />
</div>
