<div local-class='root'>
  {{#if (get @permissions 'machineTranslationsTranslate')}}
    <InlineMachineTranslate
      @rtl={{@rtl}}
      @project={{@project}}
      @text={{@text}}
      @languageSlug={{@languageSlug}}
      @onUpdatingText={{@onUpdatingText}}
      @onUpdateText={{@onUpdateText}}
    />
  {{/if}}

  {{#if (get @permissions 'usePromptImproveText')}}
    <ImprovePrompt @rtl={{@rtl}} @project={{@project}} @prompts={{@prompts}} @text={{@text}} @onUpdatingText={{@onUpdatingText}} @onUpdateText={{@onUpdateText}} />
  {{/if}}
</div>