<div local-class="operations-peek-item">
  <div local-class="languageHeader">
    <strong local-class="languageHeader-title">
      {{@revisionOperation.language.name}}
    </strong>

    <div local-class="languageHeader-displayOptions">
      <button
        local-class="languageHeader-displayOptions-button"
        disabled={{this.shouldShowStats}}
        {{on "click" (fn this.showStats)}}
      >
        {{t "components.operations_peek.item.overview"}}
      </button>

      <button
        local-class="languageHeader-displayOptions-button"
        disabled={{this.shouldShowOperations}}
        {{on "click" (fn this.showOperations)}}
      >
        {{t "components.operations_peek.item.details"}}
      </button>

      <button
        local-class="languageHeader-displayOptions-button"
        disabled={{this.shouldHideDetails}}
        {{on "click" (fn this.hideDetails)}}
      >
        {{t "components.operations_peek.item.hide"}}
      </button>
    </div>
  </div>

  {{#if this.shouldShowStats}}
    <ul local-class="statsList">
      {{#each @revisionOperation.stats as |stat|}}
        <li local-class="stat">
          <span local-class="stat-count">
            {{stat.count}}
          </span>

          <span local-class="stat-action">
            {{stat.action}}
          </span>
        </li>
      {{else}}
        <li local-class="noChanges">
          {{t "components.operations_peek.item.empty_changes"}}
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if this.shouldShowOperations}}
    <ul local-class="operationsList">
      {{#each @revisionOperation.operations as |operation|}}
        <li local-class="operation">
          <div local-class="operation-header">
            <span local-class="operation-key">
              {{operation.key}}
            </span>
            <strong local-class="operation-action">
              {{operation.action}}
            </strong>
          </div>

          <div local-class="operation-content">
            {{#if operation.previousText}}
              {{#if operation.text}}
                <div>
                  <span local-class="operation-textLabel">
                    {{t "components.operations_peek.item.previous_label"}}
                  </span>

                  <div local-class="operation-text">{{operation.previousText}}</div>
                </div>

                <div>
                  <span local-class="operation-textLabel">
                    {{t "components.operations_peek.item.text_label"}}
                  </span>

                  <div local-class="operation-text">{{operation.text}}</div>
                </div>
              {{else}}
                <div local-class="operation-text">{{operation.previousText}}</div>
              {{/if}}
            {{else}}
              <div local-class="operation-text">{{operation.text}}</div>
            {{/if}}
          </div>
        </li>
      {{else}}
        <li local-class="noChanges">
          {{t "components.operations_peek.item.empty_changes"}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>
