<div local-class="translations-filter-advanced-filters">
  <span local-class="title">
    {{t
      "components.translations_filter.advanced_filters_title"
    }}
  </span>

  <div local-class="labels">
    <label local-class="label">
      <input
        type="checkbox"
        checked={{@isTextEmptyFilter}}
        {{on "change" (fn @onChangeAdvancedFilterBoolean "isTextEmpty")}}
      >
      <span class="label-text">
        {{t
          "components.translations_filter.advanced_filters.empty"
        }}
      </span>
    </label>

    <label local-class="label">
      <input
        type="checkbox"
        checked={{@isTextNotEmptyFilter}}
        {{on "change" (fn @onChangeAdvancedFilterBoolean "isTextNotEmpty")}}
      >
      <span>
        {{t
          "components.translations_filter.advanced_filters.not_empty"
        }}
      </span>
    </label>

    <label local-class="label">
      <input
        type="checkbox"
        checked={{@isAddedLastSyncFilter}}
        {{on "change" (fn @onChangeAdvancedFilterBoolean "isAddedLastSync")}}
      >
      <span>
        {{t
          "components.translations_filter.advanced_filters.added_last_sync"
        }}
      </span>
    </label>

    <label local-class="label">
      <input
        type="checkbox"
        checked={{@isCommentedOnFilter}}
        {{on "change" (fn @onChangeAdvancedFilterBoolean "isCommentedOn")}}
      >
      <span>
        {{t
          "components.translations_filter.advanced_filters.commented_on"
        }}
      </span>
    </label>
  </div>
</div>
