<ul>
  {{#if (get permissions 'index_conflicts')}}
    <li class="item {{if highlightReview 'item--highlight'}}">
      {{#link-to
        'logged-in.project.revision.conflicts'
        project.id
        revision.id
        class='item-link'
      }}
        <strong class="item-title">
          {{inline-svg 'assets/check.svg' class='item-icon'}}
          {{t 'components.dashboard_master_revision.features.review.title'}}
        </strong>
        <span class="item-text">
          {{t 'components.dashboard_master_revision.features.review.text'}}
        </span>
      {{/link-to}}
    </li>
  {{/if}}

  {{#if (get permissions 'sync')}}
    <li class="item {{if highlightSync 'item--highlight'}}">
      {{#link-to
        'logged-in.project.files'
        project.id
        class='item-link'
      }}
        <strong class="item-title">
          {{inline-svg 'assets/sync.svg' class='item-icon'}}
          {{t 'components.dashboard_master_revision.features.sync.title'}}
        </strong>
        <span class="item-text">
          {{t 'components.dashboard_master_revision.features.sync.text'}}
        </span>
      {{/link-to}}
    </li>
  {{/if}}

  {{#if (get permissions 'index_translations')}}
    <li class="item">
      {{#link-to
        'logged-in.project.revision.translations'
        project.id
        revision.id
        class='item-link'
      }}
        <strong class="item-title">
          {{inline-svg 'assets/search.svg' class='item-icon'}}
          {{t 'components.dashboard_master_revision.features.translations.title'}}
        </strong>
        <span class="item-text">
          {{t 'components.dashboard_master_revision.features.translations.text'}}
        </span>
      {{/link-to}}
    </li>
  {{/if}}
</ul>
