<div local-class="revision-update-form">
  <h1 local-class="title">
    {{t "components.revision_update_form.title"}}
  </h1>

  <form {{on "submit" (fn this.submit)}}>
    <div local-class="formItem">
      <label local-class="formItem-label">
        {{t "components.revision_update_form.name_label"}}
      </label>

      <input
        placeholder={{this.namePlaceholder}}
        value={{this.name}}
        local-class="textInput"
        {{on "keyup" (fn this.setName)}}
      >
    </div>

    <div local-class="formItem">
      <label local-class="formItem-label">
        {{t "components.revision_update_form.slug_label"}}
      </label>
      <input
        placeholder={{this.slugPlaceholder}}
        value={{this.slug}}
        local-class="textInput"
        {{on "keyup" (fn this.setSlug)}}
      >
    </div>

    <div local-class="formActions">
      <LinkTo
        @route="logged-in.project.edit.manage-languages"
        @model={{@project.id}}
        class="button button--filled button--white"
      >
        {{t "components.revision_update_form.cancel_button"}}
      </LinkTo>

      <AsyncButton
        class="button button--filled"
        @loading={{this.isUpdating}}
        @onClick={{fn this.submit}}
      >
        {{t "components.revision_update_form.save_button"}}
      </AsyncButton>
    </div>
  </form>
</div>
