<div local-class="project-settings-integrations">
  <ProjectSettings::Title
    @title={{t "components.project_settings.integrations.title"}}
  />

  {{#if (get @permissions "create_project_integration")}}
    <button
      local-class="toggleCreateFormButton"
      class="button button--iconOnly {{if this.showCreateForm "button--filled button--white" "button--filled"}}"
      {{on "click" (fn this.toggleCreateForm)}}
    >
      {{#if this.showCreateForm}}
        {{inline-svg "/assets/x.svg" class="button-icon"}}
      {{else}}
        {{inline-svg "/assets/add.svg" class="button-icon"}}
      {{/if}}
    </button>
  {{/if}}

  <p local-class="help">
    {{t "components.project_settings.integrations.help"}}
  </p>

  {{#if this.showCreateForm}}
    <div local-class="createForm">
      <ProjectSettings::Integrations::Form
        @project={{@project}}
        @onCancel={{fn this.toggleCreateForm}}
        @onSubmit={{fn this.create}}
      />
    </div>
  {{/if}}

  <ProjectSettings::Integrations::List
    @permissions={{@permissions}}
    @project={{@project}}
    @integrations={{@project.integrations}}
    @onUpdate={{@onUpdateIntegration}}
    @onDelete={{@onDeleteIntegration}}
  />
</div>
