{{project-settings/title title=(t 'components.project_settings.integrations.title')}}

{{#if (get permissions 'create_project_integration')}}
  <button {{action 'toggleCreateForm'}} class="toggleCreateFormButton button button--iconOnly {{if showCreateForm 'button--filled button--white' 'button--filled'}}">
    {{#if showCreateForm}}
      {{inline-svg '/assets/x.svg' class='button-icon'}}
    {{else}}
      {{inline-svg '/assets/add.svg' class='button-icon'}}
    {{/if}}
  </button>
{{/if}}

<p class="help">
  {{t 'components.project_settings.integrations.help'}}
</p>

{{#if showCreateForm}}
  <div class="createForm">
    {{project-settings/integrations/form
      project=project
      onCancel=(action 'toggleCreateForm')
      onSubmit=(action 'create')
    }}
  </div>
{{/if}}

{{project-settings/integrations/list
  permissions=permissions
  project=project
  integrations=project.integrations
  onUpdate=onUpdateIntegration
  onDelete=onDeleteIntegration
}}
