<PageTitle>
  {{inline-svg "/assets/warning.svg"}}
  <h1>{{t "components.page_title.lint_translations"}}</h1>
  <a href="https://www.accent.reviews/guides/linting.html">See all linting rules →</a>
</PageTitle>

{{#if this.model.loading}}
  <SkeletonUi::ProgressLine />
{{/if}}

{{#if this.showSkeleton}}
  <SkeletonUi::ConflictsItems />
{{else if this.showLoading}}
  <LoadingContent @label={{t "pods.project.conflicts.loading_content"}} />
{{else}}
  <LintTranslationsPage
    @project={{this.model.project}}
    @lintTranslations={{this.model.lintTranslations}}
    @permissions={{this.permissions}}
  />
{{/if}}
