<header local-class='project-header'>
  <div local-class='content'>
    <div local-class='content-left'>
      <div local-class='search'>
        {{inline-svg '/assets/search.svg' local-class='search-icon'}}
        <input
          {{on 'keyup' this.setDebouncedQuery}}
          local-class='search-input'
          type='text'
          placeholder={{t 'general.search_input_placeholder_text'}}
          value={{this.debouncedQuery}}
        />
      </div>
    </div>

    {{#if @session.credentials.user}}
      <div local-class='content-right'>
        {{#if @session.credentials.user.pictureUrl}}
          <AccAvatarImg local-class='picture' src={{@session.credentials.user.pictureUrl}} />
        {{/if}}

        <span local-class='username'>
          {{@session.credentials.user.fullname}}
        </span>
      </div>
    {{/if}}
  </div>
</header>